@{
    Layout = null;
}
<meta charset="utf-8" />
<table border="1">
    <thead>
        <tr>
            <td colspan="9" style="text-align:center; font-size: 24px">BÁO CÁO DOANH THU</td>
        </tr>
        <tr>
            <td colspan=9" style="text-align:center; font-size: 18px">tháng @ViewBag.Month năm @ViewBag.Year</td>
        </tr>
        <tr>
            <th rowspan="2">Dư nợ đầu kỳ</th>
            <th rowspan="2">Dư có đầu kỳ</th>
            <th rowspan="2">HĐ in trong tháng</th>
            <th rowspan="2">Doanh thu phải thu trong tháng</th>
            <th colspan="3">Doanh thu đã thu trong tháng</th>
            <th rowspan="2">Dư nợ cuối kỳ</th>
            <th rowspan="2">Dư có cuối kỳ</th>
        </tr>
        <tr>
            <th>Chuyển khoản</th>
            <th>Tiền mặt</th>
            <th>Tổng cộng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: right;">@(ViewBag.DuNoDauKy)</td>
            <td style="text-align: right;">@(ViewBag.DuCoDauKy)</td>
            <td style="text-align: right;">@(ViewBag.SoTienTrenHoaDon)</td>
            <td style="text-align: right;">@(ViewBag.SoTienPhaiThu)</td>
            <td style="text-align: right;">@(ViewBag.SoTienDaThuChuyenKhoan)</td>
            <td style="text-align: right;">@(ViewBag.SoTienDaThuTienMat)</td>
            <td style="text-align: right;">@(ViewBag.SoTienDaThu)</td>
            <td style="text-align: right;">@(ViewBag.DuNoCuoiKy)</td>
            <td style="text-align: right;">@(ViewBag.DuCoCuoiKy)</td>
        </tr>
    </tbody>
</table>