@model List<HoaDonNuocHaDong.Areas.ThuNgan.Models.DuCoModel>
@{ 
    Layout = null;
}
<meta charset="utf-8" />
<table border="1">
    <tr>
        <th>STT</th>
        <th>ID khách hàng</th>
        <th>Mã khách hàng</th>
        <th>Tên khách hàng</th>
        <th>Địa chỉ</th>
        <th>Tuyến khách hàng</th>
        <th>Số tiền dư</th>
    </tr>
    @{ var tong = 0; int i = 1; }
    @foreach (HoaDonNuocHaDong.Areas.ThuNgan.Models.DuCoModel item in Model)
    {
        tong += (item.DuCo.SoTienDu ?? 0);
        <tr>
            <td>@(i++)</td>
            <td>@item.KhachHang.KhachhangID</td>
            <td>@item.DuCo.KhachhangID</td>
            <td>
                @item.KhachHang.Ten
            </td>
            <td>@item.KhachHang.Diachi</td>
            <td>@item.TuyenKH.Ten</td>
            <td>@(item.DuCo.SoTienDu ?? 0)</td>
        </tr>
    }
    <tr>
        <td colspan="4">Tổng</td>
        <td class="tong"> @tong </td>
        <td></td>
    </tr>
</table>