@model List<HoaDonNuocHaDong.Areas.ThuNgan.Models.DuCoModel>

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>Báo cáo dư có</h3>
                        </div>
                        <div class="widget-content">
                            <h4>Danh sách dư có theo tháng: </h4>
                            <div class="tabable">
                                @Html.Partial("_BaoCaoFilter")
                                <div class="tab-pane active" id="tab-khuvuc">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered data-table">
                                            <thead>
                                                <tr>
                                                    <th>Mã khách hàng</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Tuyến khách hàng</th>
                                                    <th>Số tiền dư</th>
                                                    <th>Nhân viên</th>
                                                </tr>
                                            </thead>
                                            @{ var tong = 0; }
                                            @foreach (HoaDonNuocHaDong.Areas.ThuNgan.Models.DuCoModel item in Model)
                                            {
                                                tong += (item.DuCo.SoTienDu ?? 0);
                                                <tr>
                                                    <td>@item.DuCo.KhachhangID</td>
                                                    <td>
                                                        <a class="passmodal" href="#" style="color:black;" data-toggle="modal" data-target="#myModal"
                                                           data-khachhang="@item.KhachHang.KhachhangID" data-loaikhachhang="@item.KhachHang.LoaiKHID"
                                                           data-thanhtoan="@item.KhachHang.HinhthucttID" data-hd="@item.DuCo.SoTienNopTheoThang.Hoadonnuoc.Sohoadon">
                                                            @item.KhachHang.Ten
                                                        </a>
                                                    </td>
                                                    <td>@item.KhachHang.Diachi</td>
                                                    <td>@item.TuyenKH.Ten</td>
                                                    <td>@(item.DuCo.SoTienDu ?? 0)</td>
                                                    <td>@(item.NhanVien.Ten)</td>
                                                </tr>
                                            }
                                            <tfoot>
                                                <tr>
                                                    <td colspan="4">Tổng</td>
                                                    <td class="tong"> @tong </td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        @Html.Partial("_Pager", (object)ViewBag.Pager)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<!-- modal box cho chọn tên -->
<div id="myModal" class="modal fade" role="dialog" style="top:50%">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Chi tiết</h3>
            </div>
            <div class="modal-body">
                <h5><a href="profile.html">Xem chi tiết thông tin cá nhân</a></h5>
                <div id="thongtin"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>*@
<!-- end modal -->
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // onInit:
            loadQuanHuyen($(".sl-quan-huyen"), "@ViewBag.Filter.QuanHuyenID");

        });

        // load data onChange
        $(".sl-quan-huyen").on("change", function () {
            // get selected quanHuyenID
            var quanHuyenID = $(this).val();

            // loadTo
            loadTo($(".sl-to"), quanHuyenID, "@ViewBag.Filter.ToID");
        });

        $(".sl-to").on("change", function () {
            // get selected toID
            var toID = $(this).val();

            // loadNhanVien
            loadNhanVien($(".sl-nhan-vien"), toID, "@ViewBag.Filter.NhanVienID");
        });
    </script>
}