@model List<HoaDonNuocHaDong.Areas.ThuNgan.Models.DuCoModel>
@using HDNHD.Core.Helpers;
@{
    Layout = null;
}
<meta charset="utf-8" />
<table border="1">
    <thead>
        <tr>
            <td colspan="11" style="text-align:center; font-size: 24px">BẢNG KÊ KH ĐÃ NỘP THỪA TIỀN NƯỚC</td>
        </tr>
        <tr>
            <th>STT</th>
            <th>ID khách hàng</th>
            <th>Mã khách hàng</th>
            <th>Tên khách hàng</th>
            <th>Địa chỉ</th>
            <th>Tuyến</th>
            <th>Tháng</th>
            <th>Số tiền trên hóa đơn</th>
            <th>Số tiền phải nộp</th>
            <th>Số tiền đã nộp</th>
            <th>Dư có</th>
        </tr>
    </thead>
    @{ int i = 1; }
    @foreach (HoaDonNuocHaDong.Areas.ThuNgan.Models.DuCoModel item in Model)
    {
        <tr>
            <td style="text-align: right;">@(i++)</td>
            <td>@item.KhachHang.KhachhangID</td>
            <td>@item.KhachHang.MaKhachHang</td>
            <td>@item.KhachHang.Ten</td>
            <td>@item.KhachHang.Diachi</td>
            <td>@item.TuyenKH.Ten</td>
            <td style="mso-number-format:mm\/yyyy;">@item.HoaDon.ThangHoaDon/@item.HoaDon.NamHoaDon</td>
            <td style="text-align: right;">@item.SoTienNopTheoThang.SoTienTrenHoaDon</td>
            <td style="text-align: right;">@item.SoTienNopTheoThang.SoTienPhaiNop</td>
            <td style="text-align: right;">@item.SoTienNopTheoThang.SoTienDaThu</td>
            <td style="text-align: right;">@item.SoTien</td>
        </tr>
    }
    <tfoot>
        <tr style="font-weight: bold;">
            <td style="text-align: right;" colspan="10">Tổng</td>
            <td style="text-align: right;"> @ViewBag.TongSoDu </td>
        </tr>
    </tfoot>
</table>