@model List<HoaDonNuocHaDong.Areas.ThuNgan.Models.DuNoModel>
@{
    Layout = null;
}
<meta charset="utf-8" />
<table border="1">
    <thead>
        <tr>
            <td colspan="11" style="text-align:center; font-size: 24px">BẢNG KÊ HÓA ĐƠN TIỀN NƯỚC CÒN NỢ</td>
        </tr>
        <tr>
            <th>STT</th>
            <th>ID khách hàng</th>
            <th>Mã khách hàng</th>
            <th>Tên khách hàng</th>
            <th>Địa chỉ</th>
            <th>Tuyến</th>
            <th>Tháng</th>
            <th>Số hóa đơn</th>
            <th>Số tiền phải nộp</th>
            <th>Số tiền đã nộp</th>
            <th>Dư nợ</th>
        </tr>
    </thead>
    <tbody>
        @{ int stt = 1; }
        @foreach (HoaDonNuocHaDong.Areas.ThuNgan.Models.DuNoModel item in Model)
        {
            <tr>
                <td style="text-align: right">@(stt++)</td>
                <td style="text-align: center">@item.KhachHang.KhachhangID</td>
                <td style="text-align: center">@item.KhachHang.MaKhachHang</td>
                <td>@item.KhachHang.Ten</td>
                <td>@item.KhachHang.Diachi</td>
                <td>@item.TuyenKhachHang.Ten</td>
                <td style='mso-number-format:"mm\/yyyy"'>@item.HoaDon.ThangHoaDon/@item.HoaDon.NamHoaDon</td>
                <td>@item.HoaDon.Sohoadon</td>
                <td style="text-align: right;">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency((int)item.SoTienNopTheoThang.SoTienPhaiNop)</td>
                <td style="text-align: right;">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency((int)item.SoTienDaNop)</td>
                <td style="text-align: right;">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency((int)item.SoTienNo)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr role="row" style="font-weight:bold">
            <td colspan="8" style="text-align: right">Tổng</td>
            <td>@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(ViewBag.TongSoTienPhaiNop)</td>
            <td>@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(ViewBag.TongSoTienDaNop)</td>
            <td>@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(ViewBag.TongSoTienNo)</td>
        </tr>
    </tfoot>
</table>