@model List<HoaDonNuocHaDong.Areas.ThuNgan.Models.LoaiGiaModel>
@using HDNHD.Core.Helpers;
@{
    Layout = null;
}
<meta charset="utf-8" />
<table border="1">
    <thead>
        <tr>
            <th>#</th>
            <th>Mã khách hàng</th>
            <th>Tên khách hàng</th>
            <th>Tuyến khách hàng</th>
            <th>SH1</th>
            <th>SH2</th>
            <th>SH3</th>
            <th>SH4</th>
            <th>HCCC</th>
            <th>SXVC</th>
            <th>KD</th>
            <th>Tổng SL</th>
            <th>Số tiền trên hóa đơn</th>
        </tr>
    </thead>
    @{ var stt = 0; }
    @foreach (HoaDonNuocHaDong.Areas.ThuNgan.Models.LoaiGiaModel item in Model)
    {
        <tr>
            <td style="text-align: right">@(++stt)</td>
            <td>@item.KhachHang.MaKhachHang</td>
            <td>@item.KhachHang.Ten</td>
            <td>@item.TuyenKH.Ten</td>
            <td style="text-align: right">@item.LichSuHoaDon.SH1</td>
            <td style="text-align: right">@item.LichSuHoaDon.SH2</td>
            <td style="text-align: right">@item.LichSuHoaDon.SH3</td>
            <td style="text-align: right">@item.LichSuHoaDon.SH4</td>
            <td style="text-align: right">@item.LichSuHoaDon.HC</td>
            <td style="text-align: right">@item.LichSuHoaDon.SX</td>
            <td style="text-align: right">@item.LichSuHoaDon.KD</td>
            <td style="text-align: right">@item.LichSuHoaDon.SanLuongTieuThu</td>
            <td style="text-align: right;">@CurrencyHelpers.FormatVN(item.LichSuHoaDon.TongCong)</td>
        </tr>
    }
    <tfoot>
        <tr style="font-weight: bold;">
            <td colspan="4" style="text-align:right;">Tổng</td>
            <td style="text-align:right;">@CurrencyHelpers.FormatVN(ViewBag.TongSH1)</td>
            <td style="text-align:right;">@CurrencyHelpers.FormatVN(ViewBag.TongSH2)</td>
            <td style="text-align:right;">@CurrencyHelpers.FormatVN(ViewBag.TongSH3)</td>
            <td style="text-align:right;">@CurrencyHelpers.FormatVN(ViewBag.TongSH4)</td>
            <td style="text-align:right;">@CurrencyHelpers.FormatVN(ViewBag.TongHC)</td>
            <td style="text-align:right;">@CurrencyHelpers.FormatVN(ViewBag.TongSX)</td>
            <td style="text-align:right;">@CurrencyHelpers.FormatVN(ViewBag.TongKD)</td>
            <td style="text-align:right;">@CurrencyHelpers.FormatVN(ViewBag.TongSL)</td>
            <td style="text-align:right;">@CurrencyHelpers.FormatVN(ViewBag.TongSoTienTrenHoaDon)</td>
        </tr>
    </tfoot>
</table>