@model HoaDonNuocHaDong.Hoadonnuoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hoadonnuoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ngayhoadon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngayhoadon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sohoadon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sohoadon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kyhieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kyhieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tongsotieuthu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tongsotieuthu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trangthaithu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trangthaithu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trangthaiin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trangthaiin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khachhang.Sotaikhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khachhang.Sotaikhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhanvien.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhanvien.Ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HoadonnuocID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
