@{
    var chiNhanh = ViewBag.chiNhanh;
    var to = ViewBag.to;
    var nhanVien = ViewBag.nhanVien;
    var tuyen = ViewBag.tuyen;
    var selectedChiNhanh = ViewBag.selectedChiNhanh;
    var selectedTenChiNhanh = ViewBag.selectedTenChiNhanh;

    var selectedNhanVien = Convert.ToInt32(ViewBag.selectedNhanvien);
    var selectedTuyen = Convert.ToInt32(ViewBag.SelectedTuyen);
    var selectedTo = Convert.ToInt32(ViewBag.selectedTo);
}


<div class="form-group">
    <!-- Chi nhánh -->
    <select class="dropdown form-control quan" style="width:20%;float:left;margin-right:3%" name="chinhanh">
        <!-- Option mặc định -->
        <option selected value="@selectedChiNhanh">@selectedTenChiNhanh</option>

    </select>

    <!-- Tổ -->
    <select class="dropdown form-control to" style="width: 20%; float: left; margin-right: 3%" name="to">
        <option></option>
        @foreach (var item in to)
        {
            if (selectedTo == (int)item.ToQuanHuyenID)
            {
                <option value="@item.ToQuanHuyenID" selected>@item.ToQuanHuyenID - @item.Ma</option>

            }
            else
            {
                <option value="@item.ToQuanHuyenID">@item.ToQuanHuyenID - @item.Ma</option>
            }
        }


    </select>
    <!-- Nhân viên -->
    <select id="nhanvien" class=" dropdown form-control nhanvien" style="width: 20%; float: left; margin-right: 3%" name="nhanvien">
        <option></option>
        @foreach (var item in nhanVien)
        {

            if (selectedNhanVien == (int)item.NhanvienID)
            {
                <option selected value="@item.NhanvienID">@item.MaNhanVien - @item.Ten</option>

            }
            else
            {
                <option value="@item.NhanvienID">@item.MaNhanVien - @item.Ten</option>
            }
        }
    </select>

    <!-- Tuyến -->

   @if (ViewBag.rl != "rl")
{
    <select class=" dropdown form-control tuyen" style="width: 20%; float: left; margin-right: 3%" name="tuyen">

        @foreach (var item in tuyen)
        {
            if (selectedNhanVien != 0)
            {
                if (selectedTuyen == item.TuyenKHID)
                {
                    <option value="@item.TuyenKHID" selected>@item.Ten</option>
                }
            }
            else
            {
                <option value="@item.TuyenKHID">@item.Ten</option>
            }
        }

    </select>
}


</div>

