<ul class="mainnav">
    <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i>
            <span>Người dùng &amp; nhân viên</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Nguoidung">Người dùng</a></li>
            <li><a href="/Nhanvien">Nhân viên</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("Index", "HoaDon", new { area = "ThuNgan" })"><i class="icon-folder-open"></i><span>DS công nợ trong tháng</span></a></li>
    <li><a href="@Url.Action("Index", "HoaDon", new { area = "ThuNgan", To=DateTime.Now.AddMonths(-1).ToString("MM-yyyy"), TrangThaiThu = false })"><i class="icon-folder-close"></i><span>DS công nợ đã hết hạn</span></a></li>

    @*<li><a href="@Url.Action("Index", "HoaDon", new { area="ThuNgan", LoaiKhachHang=HDNHD.Models.Constants.ELoaiKhachHang.HoGiaDinh })"><i class="icon-group"></i><span>Công nợ hộ gia đình</span> </a></li>
    <li><a href="@Url.Action("Index", "HoaDon", new { area="ThuNgan", LoaiKhachHang=HDNHD.Models.Constants.ELoaiKhachHang.CoQuanToChuc })"><i class="icon-list-alt"></i><span>Công nợ cơ quan, tổ chức</span> </a></li>
    <li><a href="@Url.Action("Index", "HoaDon", new { area="ThuNgan", HinhThucThanhToan = HDNHD.Models.Constants.EHinhThucThanhToan.ChuyenKhoan })"><i class="icon-user"></i><span>KH chuyển khoản</span></a></li>*@
    <li class="dropdown">
        <a href="javascript;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-list-alt"></i>
            <span>Báo cáo thu ngân</span> 
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("DuCo", "BaoCao", new { area = "ThuNgan" })">Báo cáo dư có</a></li>
            <li><a href="@Url.Action("DuNo", "BaoCao", new { area = "ThuNgan" })">Báo cáo dư nợ</a></li>
            <li><a href="@Url.Action("DoanhThu", "BaoCao", new { area = "ThuNgan" })">Báo cáo doanh thu</a></li>
            <li><a href="@Url.Action("DanhSachKhachHangInHoaDon", "BaoCao", new { area = "ThuNgan" })">Danh sách hóa đơn khách hàng tổ chức, tập thể</a></li>
            
        </ul>
    </li>
    <li><a href="@Url.Action("ChiSoTuyen", "Print", new { area="" })"><i class="icon-list-alt"></i><span>Danh sách hóa đơn đã in</span> </a></li>
</ul>