<ul class="mainnav">
    <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i>
            <span>Ng??i dùng &amp; nhân viên</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Nguoidung">Ng??i dùng</a></li>
            <li><a href="/Nhanvien">Nhân viên</a></li>
        </ul>
    </li>
    <li class="active"><a href="@Url.Action("Index", "HoaDon", new { area="ThuNgan", LoaiKhachHang=HDNHD.Models.Constants.ELoaiKhachHang.HoGiaDinh })"><i class="icon-group"></i><span>Công n? h? gia ?ình</span> </a></li>
    <li><a href="@Url.Action("Index", "HoaDon", new { area="ThuNgan", LoaiKhachHang=HDNHD.Models.Constants.ELoaiKhachHang.CoQuanToChuc })"><i class="icon-list-alt"></i><span>Công n? c? quan, t? ch?c</span> </a></li>
    <li><a href="@Url.Action("Index", "HoaDon", new { area="ThuNgan", HinhThucThanhToan = HDNHD.Models.Constants.EHinhThucThanhToan.ChuyenKhoan })"><i class="icon-user"></i><span>KH chuy?n kho?n</span></a></li>
    <li class="dropdown">
        <a href="javascript;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-list-alt"></i>
            <span>Báo cáo thu ngân</span> 
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("DuCo", "BaoCao", new { area = "ThuNgan" })">Báo cáo d? có</a></li>
            <li><a href="@Url.Action("DuNo", "BaoCao", new { area = "ThuNgan" })">Báo cáo d? n?</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("Index", "TuyenKhachHang", new { area="ThuNgan" })"><i class="icon-list-alt"></i><span>Danh sách hóa ??n ?ã in</span> </a></li>
</ul>