<ul class="mainnav">
    <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i>
            <span>Người dùng &amp; nhân viên</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Nguoidung">Người dùng</a></li>
            <li><a href="/Nhanvien">Nhân viên</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("Index", "KhachHang", new { area = "ThuNgan" })"><i class="icon-user"></i><span>QL Khách hàng</span></a></li>
    <li><a href="@Url.Action("Index", "HoaDon", new { area = "ThuNgan" })"><i class="icon-folder-open"></i><span>QL công nợ</span></a></li>
    <li class="dropdown">
        <a href="javascript;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-list-alt"></i>
            <span>Báo cáo thu ngân</span> 
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("DuCo", "BaoCao", new { area = "ThuNgan" })">Báo cáo dư có</a></li>
            <li><a href="@Url.Action("DuNo", "BaoCao", new { area = "ThuNgan" })">Báo cáo dư nợ</a></li>
            <li><a href="@Url.Action("DoanhThu", "BaoCao", new { area = "ThuNgan" })">Báo cáo doanh thu</a></li>
            <li><a href="@Url.Action("KhongSanLuong", "BaoCao", new { area = "ThuNgan" })">Báo cáo KH không sản lượng</a></li>
            <li><a href="@Url.Action("LoaiGia", "BaoCao", new { area = "ThuNgan" })">Báo cáo KH theo loại giá</a></li>
            <li><a href="@Url.Action("Index", "TuyenKhachHang", new { area = "ThuNgan" })">Báo cáo DS Tuyến KH</a></li>
        </ul>
    </li>
    
    <li><a href="@Url.Action("ChiSoTuyen", "Print", new { area="" })"><i class="icon-list-alt"></i><span>Danh sách hóa đơn đã in</span> </a></li>
</ul>