@model PagedList.IPagedList<Tuyenkhachhang>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách tuyến khách hàng";
    var nhanVien = ViewData["nhanVien"] as List<Nhanvien>;
    HoaDonNuocHaDong.Helper.Tuyen tuyenHelper = new HoaDonNuocHaDong.Helper.Tuyen();
    int pageSize = ViewBag.pageSize;
    var selectedNhanvien = ViewBag.selectedNhanvien;
    var isOnlyTruongPhong = ViewBag.isOnlyTruongPhong;
    var phongBanId = ViewBag.phongBanId;

}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <!-- /span6 -->
                <div class="span12" style="margin-left:1% !important">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-list"></i>
                            <h3>Quản lý tuyến khách hàng</h3>
                        </div>
                        <div class="widget-content">
                            <!-- Thêm mới tuyến sử dụng modal box-->
                            <div class="controls">
                                <!-- Button to trigger modal -->
                                <a href="@Url.Action("Create","Tuyen")" role="button" class="btn btn-primary" data-toggle="modal">Thêm mới tuyến</a>
                                <!--Gán tuyến cho nhân viên-->
                                <button type="button" class="btn btn-info btn-lg assignEmployee" data-toggle="modal" data-target="#myModal">Gán nhân viên cho tuyến</button>

                                <!-- Modal box để gán nhân viên cho tuyến được chọn-->
                                <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        @if (isOnlyTruongPhong)
                                        {
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Gán nhân viên cho tuyến được chọn</h4>
                                                </div>
                                                @using (Html.BeginForm("AssignEmployee", "Tuyen"))
                                                {
                                                    <input type="hidden" name="selectedTuyen" class="selectedTuyen" />
                                                    <div class="modal-body">
                                                        <p>Chọn nhân viên</p>
                                                        <!-- Nhân viên -->
                                                        <select class="dropdown form-control nhanvien" style="width:80%;float:left;margin-right:3%" name="nhanvien">
                                                            <option></option>
                                                            <!-- Option mặc định -->
                                                            @foreach (var item in nhanVien)
                                                            {
                                                                <option value="@item.NhanvienID">@item.MaNhanVien - @item.Ten</option>
                                                            }
                                                        </select>
                                                        <!-- -->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-default">Lưu</button>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <!-- Bộ lọc để lọc dữ liệu -->
                            <div style="margin:2% 0 2% 0">
                                @using (Html.BeginForm("Index", "Tuyen", FormMethod.Get))
                                {
                                    <div class="form-group">
                                        <!-- Nhân viên -->
                                        <select class="dropdown form-control nhanvien" style="width:30%;float:left;margin-right:3%" name="nhanvien">
                                            <option></option>
                                            <!-- Option mặc định -->
                                            @foreach (var item in nhanVien)
                                            {
                                                if (item.NhanvienID == selectedNhanvien)
                                                {
                                                    <option value="@item.NhanvienID" selected>@item.MaNhanVien - @item.Ten</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.NhanvienID">@item.MaNhanVien - @item.Ten</option>
                                                }
                                            }
                                        </select>

                                        <button type="submit" class="btn btn-default">Lọc</button>
                                        <!-- Hướng dẫn tìm kiếm -->
                                        <div class="huongDan">
                                            <span>Nếu nhân viên để trống thì lọc danh sách tuyến khách hàng theo toàn bộ nhân viên</span>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="pull-right">
                                @using (Html.BeginForm("Index", "Tuyen", new { nhanvien = selectedNhanvien }, FormMethod.Post, new { @class = "form-inline" }))
                                {
                                    <div class="form-group pull-left">
                                        <input type="text" class="form-control" placeholder="Nhập tên tuyến hoặc mã tuyến" name="tukhoa" />
                                    </div>
                                    <button type="submit" class="btn btn-warning" style="margin-left:12px">Tìm kiếm</button>
                                }
                            </div>
                            <!-- Bảng tuyến -->
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        @if (isOnlyTruongPhong)
                                        {
                                            <th></th>
                                        }
                                        <th>STT</th>
                                        <th>Mã tuyến</th>
                                        <th>
                                            Tên tuyến
                                        </th>
                                        <th>Nhân viên</th>
                                        <th>
                                            Hành động
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        int currentPage = String.IsNullOrEmpty(Request.QueryString["page"]) ? 1 : Convert.ToInt32(Request.QueryString["page"]);
                                    }
                                    @foreach (var item in Model)
                                    {
                                        var tuyenHasNhanVienThuocPhongBanQuanLy = tuyenHelper.tuyenHasNhanVienThuocPhongBanQuanLy(item.TuyenKHID, phongBanId);
                                        <tr>
                                            @if (isOnlyTruongPhong)
                                            {
                                                <td><input type="checkbox" name="check" data-page="1" value="@item.TuyenKHID" /></td>
                                            }
                                            <td>@((currentPage - 1) * pageSize + i)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Matuyen)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ten)
                                            </td>
                                            <td>@tuyenHelper.getTuyenCuaNhanVien(phongBanId, item.TuyenKHID)</td>
                                            <td>
                                                @Html.ActionLink("Xem", "Details", new { id = item.TuyenKHID }) |
                                                @Html.ActionLink("Sửa", "Edit", new { id = item.TuyenKHID })

                                                @if (item.Khachhangs.Count(p=>p.IsDelete == false) == 0)
                                                {
                                                    @Html.Raw(" | ")
                                                    @Html.ActionLink("Xóa", "Delete", new { id = item.TuyenKHID }, new
                                               {
                                                   onclick = "return confirm('Bạn có muốn xóa tuyến này không.')"
                                               });
                                                }

                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>

                            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { nhanvien = selectedNhanvien, page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
