@{
    ViewBag.Title = "Báo cáo sản lượng doanh thu";
    List<Quanhuyen> ls = ViewData["quan"] as List<Quanhuyen>;
    List<Tuyenkhachhang> tuyens = ViewData["tuyen"] as List<Tuyenkhachhang>;
}

<link href="~/Content/Style.css" rel="stylesheet" />
<div class="row" style="margin-left:4%">
    <!-- /span6 -->
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Tùy chọn báo cáo doanh thu</h3>
            </div>

            <!-- /widget-header -->
            <div class="widget-content">
                <ul class="nav nav-tabs">
                    <li class="index"><a href="@Url.Action("baocaosanluongdoanhthu","baocaoinhoadon")">Báo cáo doanh thu theo tháng</a></li>
                    <li class="index"><a href="@Url.Action("baocaosanluongdoanhthutheoquy","baocaoinhoadon")">Báo cáo doanh thu theo quý</a></li>
                    <li class="index active"><a href="@Url.Action("baocaosanluongdoanhthutheonam","baocaoinhoadon")">Báo cáo doanh thu theo năm</a></li>
                </ul>
                <div class="xulybc">
                    <form action="/baocaoinhoadon/xulibaocaosanluongdoanhthutheonam?type=0" method="post">
                        <p>                           
                           Năm: <input type="number" class="form-control inputd" name="y1" id="y1" min="2000" required value="@ViewBag.selectedYear">
                        </p>

                        <label>Quận huyện:</label>
                        <select class="dropdown quanAllowClear" name="quan">
                            @foreach (var item in ls)
                            {
                                <option value="@item.QuanhuyenID">@item.Ten</option>
                            }
                        </select>
                        <br /><br />
                        <p><input type="submit" class="btn btn-success" value="Xuất báo cáo"></p>

                    </form>
                    <hr />
                    <!-- Lọc báo cáo doanh thu theo tuyến -->
                    <form action="/baocaoinhoadon/xulibaocaosanluongdoanhthutheonam?type=1" method="post">
                        <p>                           
                            Năm: <input type="number" class="form-control inputd" name="y1" id="y1" min="2000" required value="@ViewBag.selectedYear">
                        </p>

                        <label>Tuyến:</label>
                        <p>
                            <select class="dropdown tuyen" name="tuyen" style="width:100%" multiple>
                                @foreach (var tuyen in tuyens)
                                {
                                    <option value="@tuyen.TuyenKHID">@tuyen.Matuyen - @tuyen.Ten</option>
                                }
                            </select>
                        </p>
                        <br />
                        <p><input type="submit" class="btn btn-success" value="Xuất báo cáo"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
