@model IList<HoaDonNuocHaDong.DuCo>
@{
    ViewBag.Title = "duco";
    Layout = "~/Views/Shared/BaoCaoKinhDoanh.cshtml";
    var month = DateTime.Now.Month;
    var year = DateTime.Now.Year;
}
<style>
    .xulybc {
        min-height: 400px;
        margin: 2% 10%;
    }

    .ten {
        font-size: 29px;
        font-weight: bold;
    }

    .loc {
        font-size: 13px;
        font-weight: bold;
    }
</style>

<div class="ten center" style="font-size:24px">
    Báo cáo dư có
</div>
<div class="loc center">Tháng @month năm @year</div>
<br />
<table id="example1" class="example table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Mã khách hàng
            </th>
            <th>
                Tên khách hàng
                @*@Html.DisplayNameFor(model => model.Khachhang.Ten)*@
            </th>
            <th>
                Địa chỉ
            </th>
            @*<th>
                    Số nhân khẩu
                </th>*@
            @*<th>
                    Ký Hiệu
                    @Html.DisplayNameFor(model => model.Kyhieu)
                </th>*@

            <th>
                Tuyến
                @*@Html.DisplayNameFor(model => model.Khachhang.TuyenKHID)*@
            </th>
            <th>
                Số tiền dư
                @*@Html.DisplayNameFor(model => model.Tongsotieuthu)*@
            </th>
            <th>
                Nhân viên

                @*@Html.DisplayNameFor(model => model.Nhanvien.Ten)*@
            </th>
        </tr>
    </thead>
    @{var tong = 0;}
    @for (var i = 0; i < Model.Count; i++)
    {
        tong = (int)tong + (int)Model[i].SoTienDu;

        if (true)
        {
            <tr>
                <td>
                    @Html.HiddenFor(x => Model[i].KhachhangID)
                    @Model[i].KhachhangID
                </td>
                <td>
                    @*@Html.HiddenFor(x => Model[i].HoadonnuocID)*@
                    <a class="passmodal" href="#" style="color:black;" data-toggle="modal" data-target="#myModal"
                       data-khachhang="@Model[i].KhachhangID" data-loaikhachhang="@Model[i].Khachhang.LoaiKHID"
                       data-thanhtoan="@HoaDonNuocHaDong.Helper.KhachHang.getHTTTID(Model[i].KhachhangID.Value)" data-hd="@Model[i].SoTienNopTheoThang.Hoadonnuoc.Sohoadon">
                        @Model[i].Khachhang.Ten
                    </a>
                </td>
                <td>

                    @Model[i].Khachhang.Diachi
                </td>
                <td>

                    @Model[i].Khachhang.TuyenKHID
                </td>

                @*<td>
                        @Html.HiddenFor(x => Model[i].SoTienNopTheoThang.Hoadonnuoc.Ngayhoadon)
                        @Html.DisplayFor(x => Model[i].SoTienNopTheoThang.Hoadonnuoc.ThangHoaDon)/@Html.DisplayFor(x => Model[i].SoTienNopTheoThang.Hoadonnuoc.NamHoaDon)
                    </td>*@
                <td>
                    @Html.HiddenFor(x => Model[i].SoTienDu)
                    @Html.DisplayFor(x => Model[i].SoTienDu)
                </td>
                <td>
                    @Html.HiddenFor(x => Model[i].SoTienNopTheoThang.Hoadonnuoc.NhanvienID)
                    @Html.DisplayFor(x => Model[i].SoTienNopTheoThang.Hoadonnuoc.Nhanvien.Ten)
                </td>

            </tr>
        }
    }
    <thead>
        <tr>
            <td colspan="5">Tổng</td>
            <td class="tong"> @Html.Raw(tong) </td>
        </tr>
    </thead>
</table>