@model HoaDonNuocHaDong.ToQuanHuyen

@{
    ViewBag.Title = "Create";

    
}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget widget-table action-table">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>Thêm tổ phòng ban</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            @using (Html.BeginForm("create", "ToQuanHuyen"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <input type="hidden" name="IsDelete" value="false" />


                                <div class="form-group" style="margin:2%">
                                    <label for="" class="col-sm-2 control-label" style="margin-right:3%">Tên tổ: </label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(p => p.Ma, new { @class = "form-control width" })
                                        <br />
                                        @Html.ValidationMessageFor(p => p.Ma, "", new { @style = "margin-left:0%" })
                                    </div>
                                </div>

                                <div class="form-group" style="margin:2%">
                                    <label for="" class="col-sm-2 control-label" style="margin-right:3%">Thuộc phòng ban : </label>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(p => p.PhongbanID, (SelectList)ViewData["phongBan"])
                                        <br />
                                        @Html.ValidationMessageFor(p => p.PhongbanID, "", new { @style = "margin-left:0%" })
                                    </div>
                                </div>

                                <div class="form-group" style="margin:2%">
                                    @Html.LabelFor(model => model.QuanHuyenID, "Quận huyện", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(p => p.QuanHuyenID, (SelectList)ViewBag.QuanhuyenID, new { @class = "dropdown quan" })
                                        @Html.ValidationMessageFor(model => model.QuanHuyenID)
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:2%">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                                        <button type="button" class="btn btn-danger" onclick="history.go(-1);">Quay lại</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<!-- /main -->
