@model HoaDonNuocHaDong.Nhanvien

@{
    ViewBag.Title = "Thêm nhân viên mới";
    var tuyenKHID = ViewBag._TuyenKHID as List<HoaDonNuocHaDong.Models.TuyenKhachHang.TuyenKhachHang>;
    var to = ViewBag.To;
    var phongBan = ViewBag.PhongBanQuanHuyen;
    var phongBanNguoiDung = ViewBag.phongBanLoggedInUser;
    HoaDonNuocHaDong.Helper.Tuyen tuyenHelper = new HoaDonNuocHaDong.Helper.Tuyen();

}
@using (Html.BeginForm("Create", "Nhanvien"))
{
    @Html.AntiForgeryToken()
    <div class="main form-horizontal">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="widget ">
                            <div class="widget-header">
                                <i class="icon-user"></i>
                                <h3>Thêm nhân viên mới</h3>
                            </div> <!-- /widget-header -->
                            <div class="widget-content">
                                <form id="edit-profile" class="form-horizontal">
                                    <input type="hidden" name="IsDelete" value="false" />
                                    <div class="row" style="margin: 1% 0 0 0%">
                                        <div class="col-md-8 pull-left">
                                            <label for="" class="col-sm-2 control-label">Tên nhân viên:</label>&nbsp;&nbsp;
                                            @Html.EditorFor(model => model.Ten)
                                            <br />
                                            @Html.ValidationMessageFor(model => model.Ten)
                                        </div>
                                    </div>

                                    <div class="row" style="margin: 1% 0 0 0%">
                                        <div class="col-md-8 pull-left">
                                            <label for="" class="col-sm-2 control-label">Mã nhân viên:</label>&nbsp;&nbsp;
                                            @Html.EditorFor(model => model.MaNhanVien)
                                            <br />
                                            @Html.ValidationMessageFor(model => model.MaNhanVien)
                                        </div>
                                    </div>

                                    <div class="row" style="margin: 1% 0 0 0%">
                                        <div class="col-md-12">
                                            <label for="" class="control-label">Địa chỉ:</label>&nbsp;&nbsp;
                                            @Html.TextBoxFor(model => model.Diachi, new { @style = "width:80%" })
                                            @Html.ValidationMessageFor(model => model.Diachi)
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 1% 0 0 0%">
                                        <div class="col-md-4 pull-left">
                                            <label for="" class="control-label">Số điện thoại:</label>&nbsp;&nbsp;
                                            @Html.EditorFor(model => model.SDT)
                                            @Html.ValidationMessageFor(model => model.SDT)
                                        </div>
                                    </div>

                                    <div class="row" style="margin: 1% 0 0 0%">
                                        <div class="col-md-4">
                                            <label for="" class="control-label">Quận huyện:</label>&nbsp;&nbsp;
                                            @Html.DropDownList("Chinhanh", (SelectList)ViewBag.ChinhanhID, "--Chọn một--", new { @class = "dropdown nhanvien-quan" })

                                        </div>
                                    </div>

                                    <div class="row" style="margin: 1% 0 0 0%">
                                        <div class="col-md-4">
                                            <label for="" class="control-label">Phòng ban:</label>&nbsp;&nbsp;
                                            @Html.DropDownListFor(p => p.PhongbanID, (SelectList)phongBan, new { @class = "dropdown nhanvien-phongban " })
                                            <br />
                                            @Html.ValidationMessageFor(model => model.PhongbanID, null, new { @style = "margin-left:17%" })
                                        </div>
                                    </div>

                                    <div class="row" style="margin: 1% 0 0 0%">
                                        <div class="col-md-4">
                                            <label for="" class="control-label">Tổ:</label>&nbsp;&nbsp;
                                            <select name="ToQuanHuyenID" class="dropdown to">
                                                @foreach (var item in to)
                                                {
                                                    <option value="@item.ToQuanHuyenID">@item.Ma</option>
                                                }
                                            </select>
                                            <br />
                                            @Html.ValidationMessageFor(model => model.ToQuanHuyenID, null, new { @style = "margin-left:17%" })
                                        </div>
                                    </div>

                                   

                                    <!-- Chức vụ-->
                                    <div class="row" style="margin: 1% 0 0 0%">
                                        <div class="col-md-4 pull-left">
                                            <label for="" class="control-label">Chức vụ:</label>&nbsp;&nbsp;
                                            @Html.DropDownList("ChucvuID")
                                            <br />
                                            @Html.ValidationMessageFor(model => model.ChucvuID)
                                        </div>
                                    </div>

                                    <!-- Tuyến KHID -->
                                    <div class="row tuyenKhachHangs" style="margin: 1% 0 0 0%">
                                        <div class="col-md-4">
                                            <label for="" class="control-label">Tuyến khách hàng:</label>&nbsp;&nbsp;
                                            <select class="dropdown tuyens" name="TuyenID" multiple="multiple" style="width:70%">

                                                @foreach (var item in tuyenKHID)
                                                {
                                                     if (!tuyenHelper.tuyenHasNhanVienThuocPhongBanQuanLy(Convert.ToInt32(item.TuyenKHID), phongBanNguoiDung))
                                                    {
                                                        <option value="@item.TuyenKHID">@item.MaTuyenKH - @item.TenTuyen</option>
                                                    }                                                    
                                                }
                                            </select>
                                            <br />
                                            @Html.ValidationMessageFor(model => model.NhanvienID, null, new { @style = "margin-left:17%" })
                                        </div>

                                    </div>

                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-info">Thêm mới</button>
                                        <button class="btn btn-default" type="button">@Html.ActionLink("Quay lại", "Index")</button>
                                    </div> <!-- /form-actions -->
                                </form>
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                    </div>
                    <!-- /span6 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /main-inner -->
    </div>
  <!-- /main -->
}

<script src="~/Js/NhanVienTuyenKhachHang.js"></script>