@model IEnumerable<HoaDonNuocHaDong.Nhanvien>

@{
    ViewBag.Title = "Danh sách nhân viên";
    var chiNhanh = ViewBag.chiNhanh;
    var chucVu = ViewBag.chucVu;
    List<Tuyenkhachhang> tuyenKH = ViewData["Tuyen"] as List<Tuyenkhachhang>;
    HoaDonNuocHaDong.Helper.NhanVienHelper helper = new HoaDonNuocHaDong.Helper.NhanVienHelper();
    var selectedQuan = ViewBag.selectedQuan;
    var selectedTo = ViewBag.selectedTo;
    var phongBans = ViewBag.phongBan;
    var toQuanHuyens = ViewBag.ToQuanHuyen;
    var selectedPhongBan = ViewBag.selectedPhongban;
    var isAdminVaTruongPhong = ViewBag.isAdminVaTruongPhong;
    var isAdmin = ViewBag.isAdmin;
}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>Quản lý nhân viên</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="tabbable">
                                <div class="tab-content">
                                    <div class="form-group">
                                        <a class="btn btn-primary" href="@Url.Action("Create", "Nhanvien")" role="button">Thêm mới nhân viên</a>
                                        <!--Gán tuyến cho nhân viên-->
                                        <button type="button" class="btn btn-info btn-lg assignEmployee" data-toggle="modal" data-target="#myModal">Gán tuyến cho nhân viên</button>
                                        <!-- Modal box để gán nhân viên cho tuyến được chọn-->
                                        <div id="myModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Chọn tuyến gán cho nhân viên</h4>
                                                    </div>
                                                    @using (Html.BeginForm("AssignTuyen", "Nhanvien"))
                                                    {
                                                        <input type="hidden" name="selectedTuyen" class="selectedTuyen" />
                                                        <div class="modal-body">
                                                            <p>Chọn tuyến</p>
                                                            <!-- Nhân viên -->
                                                            <select class="dropdown form-control nhanvien" style="width:80%;float:left;margin-right:3%" name="nhanvien">
                                                                <option disabled="disabled" selected="selected">--Tìm tuyến theo nhân viên--</option>
                                                                <!-- Option mặc định -->
                                                                @foreach (var item in tuyenKH)
                                                                {
                                                                    <option value="@item.TuyenKHID">@item.Matuyen - @item.Ten</option>
                                                                }
                                                            </select>
                                                            <!-- -->
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-default">Lưu</button>
                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                    @using (Html.BeginForm("filterNhanVien", "Nhanvien", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <!-- Bộ lọc -->
                                            @{
                                        String cssClassQuan = isAdmin == "1" ? "quanAllowClear" : "quan";
                                            }
                                            <select class="dropdown form-control @cssClassQuan" style="width:20%;float:left;margin-right:3%" name="chinhanh">
                                                <!-- Option mặc định -->
                                                <option selected disabled></option>
                                                @foreach (var item in chiNhanh)
                                                {
                                                    if (item.QuanhuyenID == selectedQuan)
                                                    {
                                                        <option value="@item.QuanhuyenID" selected>@item.Ten</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.QuanhuyenID">@item.Ten</option>
                                                    }
                                                }
                                            </select>

                                            <!-- To quan huyen -->
                                            <select class="dropdown form-control toAllowClear" style="width: 20%; float: left; margin-right: 3%" name="to">
                                                <option selected disabled></option>
                                                @foreach (var item in toQuanHuyens)
                                                {
                                                    if (item.ToQuanHuyenID == selectedTo)
                                                    {
                                                        <option value="@item.ToQuanHuyenID" selected>@HoaDonNuocHaDong.Helper.Converter.TCVN3ToUnicode(item.Ma)</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.ToQuanHuyenID">@HoaDonNuocHaDong.Helper.Converter.TCVN3ToUnicode(item.Ma)</option>
                                                    }
                                                }
                                            </select>


                                            @if (isAdmin == "1")
                                            {
                                            <!-- Phòng ban-->
                                                <select class="dropdown form-control phongBan" style="width: 20%; float: left; margin-right: 3%" name="phongban">
                                                    <option selected disabled></option>
                                                    @foreach (var phongBan in phongBans)
                                                    {
                                                        if (phongBan.PhongbanID == selectedPhongBan)
                                                        {
                                                            <option value="@phongBan.PhongbanID" selected>@phongBan.Ten</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@phongBan.PhongbanID">@phongBan.Ten</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            <button class="btn btn-default">Tìm kiếm</button>

                                        </div>
                                    }
                                    <!--Danh sách nhân viên dạng bảng-->
                                    <table class="example table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>STT</th>
                                                <th>Mã nhân viên</th>
                                                <th>Tên nhân viên</th>
                                                <th>Phòng ban</th>
                                                <th>Chức vụ</th>
                                                @if (isAdminVaTruongPhong == "1")
                                                {
                                                    <th></th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int i = 1;}
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" name="check" value="@item.NhanvienID" /></td>
                                                    <td>@i</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.MaNhanVien)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Ten)
                                                    </td>

                                                    <td>
                                                        @{int nhanVienID = item.NhanvienID;}

                                                        @{
                                                String tenPhongBan = helper.getPhongBan(nhanVienID);
                                                        }
                                                        @tenPhongBan
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Chucvu.Ten)
                                                    </td>
                                                    @if (isAdminVaTruongPhong == "1")
                                                    {
                                                        <td>
                                                            @Html.ActionLink("Sửa", "Edit", new { id = item.NhanvienID })
                                                            @Html.Raw(" | ")
                                                            @Html.ActionLink("Xóa", "Delete", new { id = item.NhanvienID }, new { onclick = "return confirm('Bạn có muốn xóa nhân viên này không')" })
                                                        </td>
                                                    }
                                                </tr>
                                                    i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $("input[type='checkbox']").change(function () {
            var highlightColor = "#eca45a ";
            if ($(this).is(':checked')) {
                
                $(this).closest('tr').css('background-color', highlightColor);
                $("input[type='checkbox']").hide();
                $(this).show();
            }
            else {
                $("input[type='checkbox']").show();
                $(this).closest('tr').css('background-color', 'none');
            }
        });
    });
</script>