<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>Danh sách tuyến đã có chỉ số</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <form action="/Congno/DanhSachTuyenHoaDonDaIn" method="post">
                                <br />
                                <div class="form-group">
                                    <label for="" class="" style="float:left;margin: .5% 1% 0 0%"><strong>Tháng:</strong></label>
                                    <input name="thang" type="number" min="1" max="12" class="form-control" style="width:100px;float:left" placeholder="@DateTime.Now.Month" />

                                    <label for="" class="" style="float:left;margin: .5% 1% 0 3%"><strong>Năm:</strong></label>
                                    <input name="nam" type="number" min="0" class="form-control" style="width:100px;float:left" placeholder="@DateTime.Now.Year" />
                                    <button type="submit" class="btn btn-default" style="text-align:center;margin-left:12px">Lọc</button>

                                    <div class="clearfix"></div>
                                </div>

                                <!-- Đã có thành tiền hay chưa-->
                                <div class="clearfix"></div>
                            </form>
                            <!-- Hướng dẫn -->
                            <div class="huongDan">
                                <span>Những tuyến đã in hết khách hàng thì hiển thị màu xanh lam</span>
                            </div>
                            <table class="example table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tuyến</th>
                                        <th>Trạng thái tính tiền</th>
                                        <th>Trạng thái in</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in ls)
                                    {
                                        HoaDonHaDongEntities db = new HoaDonHaDongEntities();
                                        int monthInt = Convert.ToInt32(selectedMonth);
                                        int yearInt = Convert.ToInt32(selectedYear);
                                        TuyenDuocChot chot = db.TuyenDuocChots.FirstOrDefault(p => p.Thang == monthInt && p.Nam == yearInt && p.TuyenKHID == item.TuyenKHID);
                                        bool isTinhTien = false;
                                        if (chot != null)
                                        {
                                            isTinhTien = chot.TrangThaiTinhTien.Value;
                                        }
                                        //tính số lượng hóa đơn đã in trên tổng số thực
                                        var soLuongKHInHoaDon = (from hd in db.Hoadonnuocs
                                                                 join r in db.Khachhangs on hd.KhachhangID equals r.KhachhangID
                                                                 where hd.Trangthaiin == true && r.TuyenKHID == item.TuyenKHID && hd.ThangHoaDon == monthInt && hd.NamHoaDon == yearInt
                                                                 select new { }).Count();
                                        //số lượng hóa đơn thực của tuyến đó
                                        var soLuongKHThuc = (from hd in db.Hoadonnuocs
                                                             join r in db.Khachhangs on hd.KhachhangID equals r.KhachhangID
                                                             where r.TuyenKHID == item.TuyenKHID && hd.ThangHoaDon == monthInt && hd.NamHoaDon == yearInt
                                                             select new { }).Count();
                                        if (soLuongKHInHoaDon == soLuongKHThuc)
                                        {
                                            <tr style="background-color:#50cac8">
                                                <td>@i</td>
                                                <td>@item.Ten</td>
                                                @if (isTinhTien)
                                                {
                                                    <td><a href="@Url.Action("XemChiTiet", new { @tuyen = @item.TuyenKHID,@month = selectedMonth,@year = selectedYear})" style="color:red">Xem chi tiết</a></td>
                                                }
                                                else
                                                {
                                                    <td><a href="@Url.Action("XemChiTiet", new { @tuyen = @item.TuyenKHID,@month = selectedMonth,@year = selectedYear})">Xem chi tiết</a></td>
                                                }
                                                @if (soLuongKHInHoaDon == soLuongKHThuc)
                                                {
                                                    <td style="color:blue"> Đã in xong </td>
                                                }
                                            </tr>
                                                i++;
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.Ten</td>
                                                @if (isTinhTien)
                                                {
                                                    <td><a href="@Url.Action("XemChiTiet", new { @tuyen = @item.TuyenKHID,@month = selectedMonth,@year = selectedYear})" style="color:red">Xem chi tiết</a></td>
                                                }
                                                else
                                                {
                                                    <td><a href="@Url.Action("XemChiTiet", new { @tuyen = @item.TuyenKHID,@month = selectedMonth,@year = selectedYear})">Xem chi tiết</a></td>
                                                }

                                                <td>In (@soLuongKHInHoaDon / @soLuongKHThuc)</td>
                                            </tr>
                                                i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
