@model List<HoaDonNuocHaDong.Areas.ThuNgan.Models.TuyenKhachHangModel>

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>Danh sách tuyến khách hàng đã có chỉ số</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <form method="get" action="" class="form-inline">
                                <center>
                                    <div class="form-group">
                                        <label for="month">Tháng:</label>
                                        <input name="month" id="month" class="form-control text-center" type="number" min="1" max="12" value="@ViewBag.Filter.Month" />
                                    </div>
                                    <div class="form-group">
                                        <label for="year">Năm:</label>
                                        <input name="year" id="year" class="form-control text-center" type="number" min="1970" value="@ViewBag.Filter.Year" />
                                    </div>
                                    <button type="submit" class="btn btn-primary">Lọc</button>
                                </center>
                            </form>

                            <!-- Hướng dẫn -->
                            <div class="well">
                                <ul class="helper">
                                    <li>Những tuyến đã in hết khách hàng thì hiển thị màu xanh lam</li>
                                    <li>Những tuyến đã tính tiền thì trạng thái tính tiền hiển thị màu xanh lam</li>
                                    <li>Những tuyến khách hàng chưa được chốt sẽ không xuất hiện trong danh sách này</li>
                                </ul>
                            </div>
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tuyến</th>
                                        <th>Trạng thái tính tiền</th>
                                        <th>Trạng thái in</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1; }
                                    @foreach (HoaDonNuocHaDong.Areas.ThuNgan.Models.TuyenKhachHangModel item in Model)
                                    {
                                        <tr style="@(item.TuyenDuocChot.TrangThaiTinhTien == true ? "background-color: #d6f8ff;" : "")">
                                            <td>@(i++)</td>
                                            <td>@item.TuyenKhachHang.Ten</td>
                                            <td><a href="@Url.Action("XemChiTiet", "Print", new { area="", tuyen = item.TuyenKhachHang.TuyenKHID,month = ViewBag.Filter.Month,year = ViewBag.Filter.Year})" style="@(item.TuyenDuocChot.TrangThaiTinhTien == true ? "color:green" : "color:red")">Xem chi tiết</a></td>
                                            <td style="@(item.SoHoaDonDaIn == item.SoHoaDon ? "color:green" : "color:red")"> Đã in (@item.SoHoaDonDaIn / @item.SoHoaDon hóa đơn) </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.Partial("_Pager", (object)ViewBag.Pager)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
