@model HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonFilterModel
@using HDNHD.Models.Constants;

<div class="form-horizontal">
    <ul class="nav nav-tabs">
        <li class="@(Model.Mode == null || Model.Mode == HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonFilterModel.FilterByManagementInfo ? "active" : "")"><a data-toggle="tab" href="#tab1">Lọc theo thông tin quản lý</a></li>
        <li class="@(Model.Mode == HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonFilterModel.FilterByUserInfo ? "active" : "")"><a data-toggle="tab" href="#tab2">Lọc theo thông tin khách hàng</a></liclass=">
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in @(Model.Mode == null || Model.Mode == HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonFilterModel.FilterByManagementInfo ? "active" : "")">
            <form method="get" action="">
                <div class="form-filter text-center">
                    <div class="form-group">
                        Tháng: <input type="number" name="Month" autocomplete="off" placeholder="Tháng" value="@ViewBag.Filter.Month" style="text-align: center" min="1" max="12" />
                        Năm: <input type="number" name="Year" autocomplete="off" placeholder="Năm" value="@ViewBag.Filter.Year" required style="text-align: center" min="1970" />
                    </div>
                    <div class="form-group">
                        <select class="select2" name="LoaiKhachHang" data-placeholder="Loại khách hàng" data-allow-clear="true">
                            <option></option>
                            <option value="@ELoaiKhachHang.CoQuanToChuc" @(Model.LoaiKhachHang == ELoaiKhachHang.CoQuanToChuc ? "selected" : "")>= Cơ quan, tổ chức =</option>
                            <option value="@ELoaiKhachHang.HoGiaDinh" @(Model.LoaiKhachHang == ELoaiKhachHang.HoGiaDinh ? "selected" : "")>Hộ gia đình</option>
                            <option value="@ELoaiKhachHang.HoKinhDoanhDichVu" @(Model.LoaiKhachHang == ELoaiKhachHang.HoKinhDoanhDichVu ? "selected" : "")>Hộ kinh doanh dịch vụ</option>
                            <option value="@ELoaiKhachHang.CoQuanDoanhNghiep" @(Model.LoaiKhachHang == ELoaiKhachHang.CoQuanDoanhNghiep ? "selected" : "")>Cơ quan doanh nghiệp</option>
                            <option value="@ELoaiKhachHang.KhuTapThe" @(Model.LoaiKhachHang == ELoaiKhachHang.KhuTapThe ? "selected" : "")>Khu tập thể (hợp đồng tổng)</option>
                        </select>
                        <select class="select2" name="HinhThucThanhToan" data-placeholder="Hình thức thanh toán" data-allow-clear="true">
                            <option></option>
                            <option value="@EHinhThucThanhToan.TienMat" @(Model.HinhThucThanhToan == EHinhThucThanhToan.TienMat ? "selected" : "")>Tiền mặt</option>
                            <option value="@EHinhThucThanhToan.ChuyenKhoan" @(Model.HinhThucThanhToan == EHinhThucThanhToan.ChuyenKhoan ? "selected" : "")>Chuyển khoản</option>
                        </select>
                        <select class="select2" name="TrangThaiThu" data-placeholder="Trạng thái thu" data-allow-clear="true">
                            <option></option>
                            <option value="@ETrangThaiThu.DaNopTien" @(Model.TrangThaiThu == ETrangThaiThu.DaNopTien ? "selected" : "")>Đã nộp tiền</option>
                            <option value="@ETrangThaiThu.ChuaNopTien" @(Model.TrangThaiThu == ETrangThaiThu.ChuaNopTien ? "selected" : "")>Chưa nộp tiền</option>
                            <option value="@ETrangThaiThu.DaQuaHan" @(Model.TrangThaiThu == ETrangThaiThu.DaQuaHan ? "selected" : "")>= Đã quá hạn =</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control select2 sl-quan-huyen" name="QuanHuyenID" data-placeholder="Chọn quận" data-allow-clear="false"></select>
                        <select class="form-control select2 sl-to" name="ToID" data-placeholder="Chọn tổ" data-allow-clear="true"></select>
                        <select class="form-control select2 sl-nhan-vien" name="NhanVienID" data-placeholder="Chọn nhân viên" data-allow-clear="true"></select>
                        <select class="form-control select2 sl-tuyen-kh" name="TuyenKHID" data-placeholder="Chọn tuyến KH" data-allow-clear="true"></select>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="Mode" value="@HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonFilterModel.FilterByManagementInfo" />
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>

                <div class="center form-group">
                    <button type="submit" name="ViewMode" value="@HDNHD.Core.Constants.ViewMode.Excel" class="btn btn-default">Xuất excel</button>
                    @if (ViewBag.Filter.Month == DateTime.Now.Month && ViewBag.Filter.Year == DateTime.Now.Year && ViewBag.Filter.TrangThaiThu == ETrangThaiThu.ChuaNopTien)
                    {
                        <a href="#" class="btn btn-warning" id="btn-danh-dau-tat-ca">
                            Đánh dấu tất cả đã nộp
                        </a>
                    }
                </div>
            </form>
        </div>
        <div id="tab2" class="tab-pane fade in @(Model.Mode == HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonFilterModel.FilterByUserInfo ? "active": "")">
            <form method="get" action="">
                <div class="form-filter text-center">
                    <div class="form-group">
                        <input type="text" name="MaKH" class="detail" placeholder="Mã khách hàng" value="@Model.MaKH" />
                        <input type="text" name="TenKH" class="detail" placeholder="Tên khách hàng" value="@Model.TenKH" />
                        <input type="text" name="DiaChiKH" class="detail" placeholder="Địa chỉ khách hàng" value="@Model.DiaChiKH" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="Mode" value="@HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonFilterModel.FilterByUserInfo" />
                        <input type="hidden" name="PageSize" value="@(ViewBag.Pager != null ? ViewBag.Pager.PageSize : 0)" />
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
                <div class="center form-group">
                    <button type="submit" name="ViewMode" value="@HDNHD.Core.Constants.ViewMode.Excel" class="btn btn-default">Xuất excel</button>
                </div>
            </form>
        </div>
    </div>
</div>
