@{
    ViewBag.Title = "Danh sách tuyến đã có chỉ số";

    var beforeFiltered = ViewBag.beforeFiltered;
    var selectedMonth = ViewBag.selectedMonth;
    var selectedYear = ViewBag.selectedYear;
    var selectedQuan = ViewBag.selectedQuan;
    var selectedTo = ViewBag.selectedTo;
    List<Tuyenkhachhang> ls = ViewData["tuyen"] as List<Tuyenkhachhang>;
    String title = ViewBag.hasNumber as String;
    var danhSachTo = ViewData["to"] as List<ToQuanHuyen>;
    var xiNghieps = ViewData["xinghiep"] as List<Quanhuyen>;
}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>@title</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <form action="/Print/ChiSoTuyen" method="post">
                                <br />
                                <div class="form-group">

                                    <select name="quan" class="dropdown quanAllowClear">
                                        <option></option>
                                        @foreach (var item in xiNghieps)
                                        {
                                            if (item.QuanhuyenID.ToString() == selectedQuan)
                                            {
                                                <option value="@item.QuanhuyenID" selected>@item.QuanhuyenID - @item.Ten</option>
                                            }
                                            else
                                            {
                                                <option value="@item.QuanhuyenID">@item.QuanhuyenID - @item.Ten</option>
                                            }
                                        }
                                    </select>

                                    <select class="dropdown form-control toAllowClear" name="to">
                                        <option></option>

                                        @foreach (var item in danhSachTo)
                                        {
                                            if (item.ToQuanHuyenID.ToString() == selectedTo)
                                            {
                                                <option value="@item.ToQuanHuyenID" selected>@item.ToQuanHuyenID - @item.Ma</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ToQuanHuyenID">@item.ToQuanHuyenID - @item.Ma</option>
                                            }
                                        }

                                    </select>

                                    <input name="thang" value="@selectedMonth" placeholder="Tháng @DateTime.Now.Month" type="number" min="1" max="12" class="form-control" style="margin-bottom:0px !important" />

                                    <input name="nam" value="@selectedYear" placeholder="Năm @DateTime.Now.Year" type="number" min="0" class="form-control" style="margin-bottom:0px !important" />

                                    <div class="form-control" style="text-align:center;margin-top:1%">
                                        <button type="submit" class="btn btn-default" style="text-align:center">Lọc</button>
                                    </div>
                                    <!-- Xí nghiệp - Tổ -->

                                    <div class="clearfix"></div>
                                </div>

                                <!-- Đã có thành tiền hay chưa-->
                                <div class="clearfix"></div>
                            </form>
                            <!-- Hướng dẫn -->
                            <div class="huongDan">
                                <p>Những tuyến nào đã tính tiền thì cột "Tính tiền" hiển thị màu đỏ, nếu tuyến đã in hết khách hàng thì hiển thị màu xanh lam.</p>
                                <p>
                                    Nếu phần "Chọn tổ" để trống thì lấy danh sách tất cả các tuyến đã chốt trong tháng có trong hệ thống, chọn tổ để lọc tuyến dựa theo tổ đó.
                                </p>
                                <p> Nếu tháng/năm để trống thì lấy tháng năm hiện tại trong hệ thống</p>
                            </div>
                            <br />
                            @if (!beforeFiltered)
                            {
                                <table class="example table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tuyến</th>
                                            <th>Trạng thái tính tiền</th>
                                            <th>Trạng thái in</th>
                                            <th>Ngày in xong</th>
                                            <th>Tổng số tiền</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                int STT = 1;
                                int tongSoHoaDonDaIn = 0;
                                int tongSoHoaDonChuyenIn = 0;
                                double tongSoTien = 0;                              
                                        }
                                        @foreach (var item in ls)
                                        {
                                            double tongSoTienTungTuyen = 0;
                                            HoaDonHaDongEntities db = new HoaDonHaDongEntities();
                                            int monthInt = Convert.ToInt32(selectedMonth);
                                            int yearInt = Convert.ToInt32(selectedYear);
                                            TuyenDuocChot chot = db.TuyenDuocChots.FirstOrDefault(p => p.Thang == monthInt && p.Nam == yearInt && p.TuyenKHID == item.TuyenKHID);
                                            bool isTinhTien = false;
                                            if (chot != null)
                                            {
                                                isTinhTien = chot.TrangThaiTinhTien.Value;
                                            }

                                            //số lượng hóa đơn thực của tuyến đó
                                            var soLuongHoaDonThuc = (from i in db.Hoadonnuocs
                                                                     join r in db.Khachhangs on i.KhachhangID equals r.KhachhangID
                                                                     where i.ThangHoaDon == monthInt && i.NamHoaDon == yearInt && r.TuyenKHID == item.TuyenKHID &&
                                                                           (i.Trangthaixoa == false || i.Trangthaixoa == null) && i.Trangthaichot == true &&
                                                                           ((r.Ngayngungcapnuoc == null && r.Ngaycapnuoclai == null) ||
                                                                           (r.Ngaycapnuoclai.Value <= DateTime.Now)) && i.Tongsotieuthu > 0

                                                                     select new
                                                                     {
                                                                         TTIn = i.Trangthaiin,
                                                                         NgayIn = i.NgayIn
                                                                     });
                                            var soLuongHoaDonDaIn = soLuongHoaDonThuc.Where(p => p.TTIn == true);
                                            
                                            tongSoHoaDonChuyenIn += soLuongHoaDonThuc.Count();
                                            tongSoHoaDonDaIn += soLuongHoaDonDaIn.Count();
                                            
                                            //tổng số tiền của tuyến
                                            var tongSoTienTuyens = (from lshd in db.Lichsuhoadons
                                                                   join hd in db.Hoadonnuocs on lshd.HoaDonID equals hd.HoadonnuocID
                                                                   join r in db.Khachhangs on hd.KhachhangID equals r.KhachhangID
                                                                   where r.TuyenKHID == item.TuyenKHID && hd.ThangHoaDon == monthInt && hd.NamHoaDon == yearInt &&
                                                                         (hd.Trangthaixoa == false || hd.Trangthaixoa == null) && hd.Trangthaichot == true &&
                                                                         ((r.Ngayngungcapnuoc == null && r.Ngaycapnuoclai == null)
                                                                         || (r.Ngaycapnuoclai.Value <= DateTime.Now)) && hd.Tongsotieuthu > 0
                                                                 
                                                                   select new
                                                                   {
                                                                       tongTien = lshd.TongCong
                                                                   });
                                                                                                             

                                            foreach (var tongSoTienTuyen in tongSoTienTuyens)
                                            {
                                                tongSoTienTungTuyen += tongSoTienTuyen.tongTien;                                                
                                            }                                                                                       
                                            tongSoTien += tongSoTienTungTuyen;
                                            //nếu số lượng khách hàng đã in xong hóa đơn bằng số lượng khách hàng thực
                                            if (soLuongHoaDonThuc.Count() == soLuongHoaDonDaIn.Count())
                                            {
                                                <tr style="background-color:#50cac8">
                                                    <td>@STT</td>
                                                    <td>@item.Matuyen - @item.Ten</td>
                                                    @if (isTinhTien)
                                                    {
                                                        <td><a href="@Url.Action("XemChiTiet", new {quan = selectedQuan, to = selectedTo, tuyen = item.TuyenKHID, month = selectedMonth, year = selectedYear})" style="color:red">Tính tiền</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td><a href="@Url.Action("XemChiTiet", new {quan = selectedQuan, to = selectedTo, tuyen = item.TuyenKHID, month = selectedMonth, year = selectedYear})">Tính tiền</a></td>
                                                    }
                                                    @if (soLuongHoaDonThuc.Count() == soLuongHoaDonDaIn.Count())
                                                    {
                                                        <td style="color:blue"> In (@soLuongHoaDonDaIn.Count() / @soLuongHoaDonThuc.Count()) </td>
                                                    }
                                                    <!-- Ngày in xong hóa đơn -->
                                                    @if (soLuongHoaDonThuc.Max(p => p.NgayIn) != null)
                                                    {
                                                        <td>@String.Format("{0:dd/MM/yyyy}", soLuongHoaDonThuc.Max(p => p.NgayIn).Value)</td>
                                                    }
                                                    else
                                                    {
                                                    <td></td>
                                                    }
                                                    @if (tongSoTienTungTuyen != null)
                                                    {
                                                          <td>@String.Format("{0:#,##0.##}", Math.Round(tongSoTienTungTuyen, 0))</td>
                                                    }
                                                </tr>
                                            }
                                            //nếu chưa in xong
                                            else
                                            {
                                                <tr>
                                                    <td>@STT</td>
                                                    <td>@item.Matuyen - @item.Ten</td>
                                                    @if (isTinhTien)
                                                    {
                                                        <td><a href="@Url.Action("XemChiTiet", new { quan = selectedQuan, to = selectedTo, tuyen = item.TuyenKHID, month = selectedMonth, year = selectedYear })" style="color:red">Tính tiền</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td><a href="@Url.Action("XemChiTiet", new { quan = selectedQuan, to = selectedTo, tuyen = item.TuyenKHID, month = selectedMonth, year = selectedYear })">Tính tiền</a></td>
                                                    }

                                                    <td>In (@soLuongHoaDonDaIn.Count() / @soLuongHoaDonThuc.Count())</td>
                                                    <td></td>
                                                    @if (tongSoTienTungTuyen != null)
                                                    {
                                                        <td>@String.Format("{0:#,##0.##}", Math.Round(tongSoTienTungTuyen,0))</td>
                                                    }
                                                </tr>

                                            }
                                            STT++;
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3" style="text-align: right;">Tổng số hóa đơn đã in / tổng số hóa đơn chuyển in</td>
                                            <td>@tongSoHoaDonDaIn / @tongSoHoaDonChuyenIn</td>
                                            <td colspan="1" style="text-align: right;">Tổng số tiền</td>
                                            <td>@String.Format("{0:#,##0.##}", tongSoTien)</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
