@model PagedList.IPagedList<HoaDonNuocHaDong.Models.TuyenKhachHang.TuyenKhachHangDuocChot>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách tuyến đã có chỉ số";
    var beforeFiltered = ViewBag.beforeFiltered;
    var selectedMonth = ViewBag.selectedMonth;
    var selectedYear = ViewBag.selectedYear;
    var selectedQuan = ViewBag.selectedQuan;
    var selectedTo = ViewBag.selectedTo;
    var isThuNgan = ViewBag.isThuNgan;
    String title = ViewBag.hasNumber as String;
    var danhSachTo = ViewData["to"] as List<ToQuanHuyen>;
    var xiNghieps = ViewData["xinghiep"] as List<Quanhuyen>;
    List<Nhanvien> nhanviens = ViewData["nhanviens"] as List<Nhanvien>;
    var selectedNhanVien = ViewBag.selectedNhanvien;
    var currentPage = ViewBag.currentPage;
    var pageSize = ViewBag.pageSize;
    var brazilianCulture = System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR");
    HoaDonNuocHaDong.Models.TuyenKhachHang.TuyenKhachHangDuocChot tuyenDuocChot = new HoaDonNuocHaDong.Models.TuyenKhachHang.TuyenKhachHangDuocChot();
}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>@title</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <form action="/Print/ChiSoTuyen" method="get">
                                <br />
                                <div class="form-group">

                                    <select name="quan" class="dropdown quanAllowClear">
                                        <option></option>
                                        @foreach (var item in xiNghieps)
                                        {
                                            if (item.QuanhuyenID == selectedQuan)
                                            {
                                                <option value="@item.QuanhuyenID" selected>@item.QuanhuyenID - @item.Ten</option>
                                            }
                                            else
                                            {
                                                <option value="@item.QuanhuyenID">@item.QuanhuyenID - @item.Ten</option>
                                            }
                                        }
                                    </select>

                                    <select class="dropdown form-control toAllowClear to" name="to">
                                        <option></option>

                                        @foreach (var item in danhSachTo)
                                        {
                                            if (item.ToQuanHuyenID == selectedTo)
                                            {
                                                <option value="@item.ToQuanHuyenID" selected>@item.ToQuanHuyenID - @item.Ma</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ToQuanHuyenID">@item.ToQuanHuyenID - @item.Ma</option>
                                            }
                                        }

                                    </select>


                                    @if (isThuNgan == true)
                                    {
                                          <!-- Nhân viên -->
                                        <select class=" dropdown form-control nhanvien" data-allow-clear="true" style="width: 20%; float: left; margin-right: 3%" name="nhanvien">
                                            <option></option>
                                            @foreach (var item in nhanviens)
                                            {
                                                if (selectedNhanVien == item.NhanvienID)
                                                {
                                                    <option value="@item.NhanvienID" selected>@item.MaNhanVien - @item.Ten</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.NhanvienID">@item.MaNhanVien - @item.Ten</option>
                                                }
                                            }
                                        </select>
                                    }

                                    <input name="thang" value="@selectedMonth" placeholder="Tháng @DateTime.Now.Month" type="number" min="1" max="12" class="form-control" style="margin-bottom:0px !important" />

                                    <input name="nam" value="@selectedYear" placeholder="Năm @DateTime.Now.Year" type="number" min="0" class="form-control" style="margin-bottom:0px !important" />

                                    <div class="form-control" style="text-align:center;margin-top:1%">
                                        <button type="submit" class="btn btn-default" style="text-align:center">Lọc</button>
                                    </div>
                                    <!-- Xí nghiệp - Tổ -->

                                    <div class="clearfix"></div>
                                </div>

                                <!-- Đã có thành tiền hay chưa-->
                                <div class="clearfix"></div>
                            </form>
                            <!-- Hướng dẫn -->
                            <div class="huongDan">
                                <p>Những tuyến nào đã tính tiền thì cột "Tính tiền" hiển thị màu đỏ, nếu tuyến đã in hết khách hàng thì hiển thị màu xanh</p>
                                <p>
                                    Nếu phần "Chọn tổ" để trống thì lấy danh sách tất cả các tuyến đã chốt trong tháng có trong hệ thống, chọn tổ để lọc tuyến dựa theo tổ đó.
                                </p>
                                <p> Nếu tháng/năm để trống thì lấy tháng năm hiện tại trong hệ thống</p>
                            </div>
                            <br />

                            <!-- Tìm kiếm khách hàng -->

                            <div class="pull-right">
                                @using (Html.BeginForm("chisotuyen", "print", new
                                {
                                    quan = selectedQuan,
                                    to = selectedTo,
                                    nhanvien = selectedNhanVien,
                                    thang = selectedMonth,
                                    nam = selectedYear
                                }, FormMethod.Post, new { @class = "form-inline" }))
                                {
                                    <div class="form-group pull-left">
                                        <input type="text" class="form-control" placeholder="Nhập tên tuyến hoặc mã tuyến" name="tukhoa" />
                                    </div>
                                    <button type="submit" class="btn btn-warning" style="margin-left:12px">Tìm kiếm</button>
                                }
                            </div>

                            <!-- Hết tìm kiếm -->
                            @if (!beforeFiltered)
                            {
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tuyến</th>
                                            <th>Trạng thái tính tiền</th>
                                            <th>Trạng thái in</th>
                                            <th>Ngày in xong</th>
                                            <th>Tổng số tiền</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                int STT = 1;
                                int tongSoHoaDonDaIn = 0;
                                int tongSoHoaDonChuyenIn = 0;
                                double tongSoTien = 0;
                                        }

                                        @foreach (var item in Model)
                                        {
                                            String cssStyle = "";
                                            int monthInt = Convert.ToInt32(selectedMonth);
                                            int yearInt = Convert.ToInt32(selectedYear);
                                            bool isTinhTien = item.TrangThaiTinhTien;

                                            HoaDonNuocHaDong.Models.TuyenKhachHang.TuyenKhachHangDuocChot thongTinTungTuyen = tuyenDuocChot.getThongTinTungTuyen(item.TuyenKHID, monthInt, yearInt);
                                            
                                            var soLuongHoaDonThuc = thongTinTungTuyen.tongSoLuongKhachHang;
                                            var soLuongHoaDonDaIn = thongTinTungTuyen.soLuongKhachHangDaIn;

                                            tongSoHoaDonChuyenIn += soLuongHoaDonThuc;
                                            tongSoHoaDonDaIn += soLuongHoaDonDaIn;

                                            double tongSoTienTungTuyen = tuyenDuocChot.getTongSoTienTuyen(item.TuyenKHID, monthInt, yearInt);
                                           
                                            tongSoTien += tongSoTienTungTuyen;
                                            //nếu số lượng khách hàng đã in xong hóa đơn bằng số lượng khách hàng thực

                                            if (soLuongHoaDonThuc == soLuongHoaDonDaIn)
                                            {
                                                cssStyle = "style=background-color:#50cac8";
                                            }

                                            <tr @cssStyle>
                                                <td>@((int)pageSize * ((int)currentPage - 1) + STT)</td>
                                                <td>@item.MaTuyenKH - @item.TenTuyen</td>
                                                @if (isTinhTien)
                                                {
                                                    <td><a href="@Url.Action("XemChiTiet", new {quan = selectedQuan, to = selectedTo, tuyen = item.TuyenKHID, month = selectedMonth, year = selectedYear})" style="color:red">Tính tiền</a></td>
                                                }
                                                else
                                                {
                                                    <td><a href="@Url.Action("XemChiTiet", new {quan = selectedQuan, to = selectedTo, tuyen = item.TuyenKHID, month = selectedMonth, year = selectedYear})">Tính tiền</a></td>
                                                }
                                                @if (soLuongHoaDonThuc == soLuongHoaDonDaIn)
                                                {
                                                    <td style="color:blue"> In (@soLuongHoaDonDaIn / @soLuongHoaDonThuc) </td>
                                                }
                                                <!-- Ngày in xong hóa đơn -->
                                                @if (true)
                                                {
                                                    <td>@String.Format("{0:dd/MM/yyyy}", tuyenDuocChot.ngayInXong)</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                                @if (tongSoTienTungTuyen != null)
                                                {
                                                    <td>@tongSoTienTungTuyen.ToString("0,000", brazilianCulture)</td>
                                                }
                                            </tr>
                                                STT++;
                                        }

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3" style="text-align: right;">Tổng số hóa đơn đã in / tổng số hóa đơn chuyển in</td>
                                            <td>@tongSoHoaDonDaIn / @tongSoHoaDonChuyenIn</td>
                                            <td colspan="1" style="text-align: right;">Tổng số tiền</td>
                                            <td>@tongSoTien.ToString("0,000", brazilianCulture)</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            }

                            @Html.PagedListPager(Model, page => Url.Action("chisotuyen",
                            new
                            {
                                quan = selectedQuan,
                                to = selectedTo,
                                nhanvien = selectedNhanVien,
                                thang = selectedMonth,
                                nam = selectedYear,
                                page,
                                sortOrder = ViewBag.CurrentSort,
                                currentFilter = ViewBag.CurrentFilter
                            }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
