@{
    ViewBag.Title = "Danh sách in hóa đơn";

    var beforeFiltered = ViewBag.beforeFilter;
    var selectedMonth = ViewBag.selectedMonth;
    var selectedYear = ViewBag.selectedYear;

    //Áp giá mặc định
    double SH1Price = HoaDonHaDong.Helper.ChiSo.getSoTienTheoApGia("SH1").Value;
    double SH2Price = HoaDonHaDong.Helper.ChiSo.getSoTienTheoApGia("SH2").Value;
    double SH3Price = HoaDonHaDong.Helper.ChiSo.getSoTienTheoApGia("SH3").Value;
    double SH4Price = HoaDonHaDong.Helper.ChiSo.getSoTienTheoApGia("SH4").Value;
    double HCPrice = HoaDonHaDong.Helper.ChiSo.getSoTienTheoApGia("HC").Value;
    double CCPrice = HoaDonHaDong.Helper.ChiSo.getSoTienTheoApGia("CC").Value;
    double SXPrice = HoaDonHaDong.Helper.ChiSo.getSoTienTheoApGia("SX-XD").Value;
    double KDPrice = HoaDonHaDong.Helper.ChiSo.getSoTienTheoApGia("KDDV").Value;
    HoaDonHaDongEntities db = new HoaDonHaDongEntities();
}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>@ViewBag.hasNumber</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <form action="/Print/HasNumber?chiso=@Request.QueryString["chiso"]" method="post">
                                
                                <br />
                                <div class="form-group">
                                    <label for="" class="" style="float:left;margin: .5% 1% 0 0%"><strong>Tháng:</strong></label>
                                    <input name="thang" type="number" min="1" max="12" class="form-control" style="width:100px;float:left" placeholder="@DateTime.Now.Month" />

                                    <label for="" class="" style="float:left;margin: .5% 1% 0 3%"><strong>Năm:</strong></label>
                                    <input name="nam" type="number" min="0" class="form-control" style="width:100px;float:left" placeholder="@DateTime.Now.Year" />

                                    <div class="clearfix"></div>
                                </div>

                                <!-- Đã có thành tiền hay chưa-->                                
                                <div class="clearfix"></div>

                                <div class="form-control" style="text-align:center">
                                    <button type="submit" class="btn btn-default" style="text-align:center">Tìm kiếm</button>
                                    @if (!beforeFiltered)
                                    {
                                        <button type="button" class="btn btn-default" onclick="window.open('@Url.Action("Prdouble", "Prdouble", new { @TuyenID = ViewBag.selectedTuyen, @month = selectedMonth, @year = selectedYear})')">In</button>
                                    }
                                </div>
                            </form>
                            <!-- Bảng xem chỉ số -->
                            @if (!beforeFiltered)
                            {
                                <table class="example table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="display:none">HoaDonNuoc</th>
                                            <th>#</th>
                                            <th>Mã khách hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Thứ tự đọc</th>
                                            <th>SH1</th>
                                            <th>SH2</th>
                                            <th>SH3</th>
                                            <th>SH4</th>
                                            <th>HC</th>
                                            <th>CC</th>
                                            <th>KD</th>
                                            <th>SX</th>
                                            <th>VAT</th>
                                            <th>MT</th>
                                            <th>Tổng cộng</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                double i = 1;
                                var dsKH = ViewBag.dsachKH;
                                        }
                                        @foreach (var item in dsKH)
                                        {
                                            double hoaDonNuocID = item.GetType().GetProperty("HoaDonNuoc").GetValue(item, null);
                                            double SH1 = item.GetType().GetProperty("SH1").GetValue(item, null);
                                            double SH2 = item.GetType().GetProperty("SH2").GetValue(item, null);
                                            double SH3 = item.GetType().GetProperty("SH3").GetValue(item, null);
                                            double SH4 = item.GetType().GetProperty("SH4").GetValue(item, null);
                                            double HC = item.GetType().GetProperty("HC").GetValue(item, null);
                                            double CC = item.GetType().GetProperty("CC").GetValue(item, null);
                                            double KD = item.GetType().GetProperty("KD").GetValue(item, null);
                                            double SX = item.GetType().GetProperty("SX").GetValue(item, null);
                                            double PhiMT = item.GetType().GetProperty("TilePhiMT").GetValue(item, null);


                                            double SH1Total = 0;
                                            double SH2Total = 0;
                                            double SH3Total = 0;
                                            double SH4Total = 0;
                                            double HCTotal = 0;
                                            double CCTotal = 0;
                                            double KDTotal = 0;
                                            double SXTotal = 0;
                                            double Sum = 0;
                                            var hasApGia = db.ApGiaDacBiets.FirstOrDefault(p => p.HoaDonNuocID == hoaDonNuocID);
                                            //tìm kiếm trong áp giá đặc biệt, nếu có sẽ tính theo giá đặc biệt
                                            if (hasApGia == null)
                                            {
                                                SH1Total = SH1 * SH1Price;
                                                SH2Total = SH2 * SH2Price;
                                                SH3Total = SH3 * SH3Price;
                                                SH4Total = SH4 * SH4Price;
                                                HCTotal = HC * HCPrice;
                                                CCTotal = CC * CCPrice;
                                                KDTotal = KD * KDPrice;
                                                SXTotal = SX * SXPrice;
                                            }
                                            else
                                            {
                                                SH1Total = SH1 * (hasApGia.SH1).Value;
                                                SH2Total = SH2 * (hasApGia.SH2).Value;
                                                SH3Total = SH3 * (hasApGia.SH3).Value;
                                                SH4Total = SH4 * (hasApGia.SH4).Value;
                                                HCTotal = HC * (hasApGia.HC).Value;
                                                CCTotal = CC * (hasApGia.CC).Value;
                                                KDTotal = KD * (hasApGia.KDDV).Value;
                                                SXTotal = SX * (hasApGia.SXSD).Value;
                                            }

                                            Sum = SH1Total + SH2Total + SH3Total + SH4Total + HCTotal + CCTotal + KDTotal + SXTotal;
                                            double PhiVAT = Sum * 0.05;
                                            double PhiBVMT = Sum * (PhiMT / 100);

                                            double TongGiaTien = Sum + PhiVAT + PhiBVMT;
                                            <tr>
                                                <td style="display:none">@item.GetType().GetProperty("HoaDonNuoc").GetValue(item, null)</td>
                                                <td>@i</td>
                                                <td>@item.GetType().GetProperty("MaKH").GetValue(item, null)</td>
                                                <td>@item.GetType().GetProperty("TenKH").GetValue(item, null)</td>
                                                <td>@item.GetType().GetProperty("TTDoc").GetValue(item, null)</td>
                                                <td>@String.Format("{0:n0}", SH1Total)</td>
                                                <td>@String.Format("{0:n0}", SH2Total)</td>
                                                <td>@String.Format("{0:n0}", SH3Total)</td>
                                                <td>@String.Format("{0:n0}", SH4Total)</td>
                                                <td>@String.Format("{0:n0}", HCTotal)</td>
                                                <td>@String.Format("{0:n0}", CCTotal)</td>
                                                <td>@String.Format("{0:n0}", KDTotal)</td>
                                                <td>@String.Format("{0:n0}", SXTotal)</td>
                                                <td>@String.Format("{0:n0}", PhiVAT)</td>
                                                <td>@String.Format("{0:n0}", PhiBVMT)</td>
                                                <td style="color:blue">@String.Format("{0:n0}", TongGiaTien)</td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $("#DataTables_Table_0_filter>label").text("Tìm kiếm theo mã khách hàng");
    });
</script>