@{
    ViewBag.Title = "Danh sách in hóa đơn";

    HoaDonHaDong.Helper.ChiSo cS = new HoaDonHaDong.Helper.ChiSo();
    HoaDonNuocHaDong.Helper.HoaDonNuoc hoaDonNuoc = new HoaDonNuocHaDong.Helper.HoaDonNuoc();

    double SH1Price = cS.getSoTienTheoApGia("SH1").Value;
    double SH2Price = cS.getSoTienTheoApGia("SH2").Value;
    double SH3Price = cS.getSoTienTheoApGia("SH3").Value;
    double SH4Price = cS.getSoTienTheoApGia("SH4").Value;
    double HCPrice = cS.getSoTienTheoApGia("HC").Value;
    double CCPrice = cS.getSoTienTheoApGia("CC").Value;
    double SXPrice = cS.getSoTienTheoApGia("SX-XD").Value;
    double KDPrice = cS.getSoTienTheoApGia("KDDV").Value;
    HoaDonHaDongEntities db = new HoaDonHaDongEntities();
    var selectedMonth = Request.QueryString["month"];
    var selectedYear = Request.QueryString["year"];
    //danh sách khách hàng tính tiền
    var dsKH = ViewBag.dsachKH as List<HoaDonNuocHaDong.Models.InHoaDon.TuyenTinhTien>;
}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <h3>Xem danh sách hóa đơn (Tổng cộng: @dsKH.Count hóa đơn)</h3>
                    </div>

                    <!-- Tab for displaying print modes -->
                    <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="index active"><a href="#printAll" data-toggle="tab"><b>In tất cả</b></a></li>
                                <li class="index"><a href="#printSelected" data-toggle="tab"><b>In danh sách khách hàng được chọn</b></a></li>
                                <li class="index"><a href="#printFromReceiptToReceipt" data-toggle="tab"><b>In theo số hóa đơn</b></a></li>
                            </ul>

                            @if (HDNHD.Core.Models.RequestScope.UserRole == HDNHD.Models.Constants.EUserRole.InHoaDon)
                            {
                                <div class="tab-content">

                                    <!-- Print all -->
                                    <div class="tab-content tab-pane active" id="printAll">
                                        <form action="/Print/ChiSoTuyen" method="post">
                                            <input type="hidden" value="@Request.QueryString["quan"]" name="quan" />
                                            <input type="hidden" value="@Request.QueryString["to"]" name="to" />
                                            <input type="hidden" value="@Request.QueryString["month"]" name="thang" />
                                            <input type="hidden" value="@Request.QueryString["year"]" name="nam" />
                                            <button type="submit" class="btn btn-default">Quay lại</button>
                                        </form>

                                        <form action="@Url.Action("PrintAllPreview", "Print", new {@TuyenID = ViewBag.selectedTuyen,
                                                                                                   @month = selectedMonth,
                                                                                                   @year = selectedYear })" method="post">
                                            <button type="submit" class="btn btn-warning choose-print-machine" data-toggle="modal" data-target=".set-print-machine">
                                                Xem trước in tất cả
                                            </button>
                                        </form>

                                        <form action="@Url.Action("PrintCrystalReport", "Print", new {
                                                                                                   @TuyenID = ViewBag.selectedTuyen,
                                                                                                   @month = selectedMonth,
                                                                                                   @year = selectedYear })" method="post">
                                            <button type="submit" class="btn btn-warning choose-print-machine" data-toggle="modal" data-target=".set-print-machine">
                                                In tất cả
                                            </button>
                                        </form>
                                    </div>


                                    <!-- Print selected -->
                                    <div class="tab-content tab-pane" id="printSelected">
                                        <form action="/Print/ChiSoTuyen" method="post">
                                            <input type="hidden" value="@Request.QueryString["quan"]" name="quan" />
                                            <input type="hidden" value="@Request.QueryString["to"]" name="to" />
                                            <input type="hidden" value="@Request.QueryString["month"]" name="thang" />
                                            <input type="hidden" value="@Request.QueryString["year"]" name="nam" />
                                            <button type="submit" class="btn btn-default">Quay lại</button>
                                        </form>

                                        <form action="/Print/PrintPreviewSelected?TuyenID=@Request.QueryString["tuyen"]&month=@selectedMonth&year=@selectedYear" method="post">
                                            <input type="hidden" class="printSelectedHidden" name="printSelectedHidden" />
                                            <button type="submit" class="btn btn-success printSelected choose-print-machine"
                                                    data-toggle="modal" data-target=".set-print-machine">
                                                Xem trước in hóa đơn được chọn
                                            </button>
                                        </form>

                                        <form action="/Print/PrintSelected?TuyenID=@Request.QueryString["tuyen"]&month=@selectedMonth&year=@selectedYear" method="post">
                                            <input type="hidden" class="printSelectedHidden" name="printSelectedHidden" />
                                            <button type="submit" data-toggle="modal" data-target=".set-print-machine"
                                                    class="btn btn-success printSelected choose-print-machine">
                                                In hóa đơn được chọn
                                            </button>
                                        </form>
                                    </div>

                                    <!-- Print from receipt to receipt -->
                                    <div class="tab-content tab-pane choose-print-machine" id="printFromReceiptToReceipt">

                                        <form action="/Print/ChiSoTuyen" method="post">
                                            <input type="hidden" value="@Request.QueryString["quan"]" name="quan" />
                                            <input type="hidden" value="@Request.QueryString["to"]" name="to" />
                                            <input type="hidden" value="@Request.QueryString["month"]" name="thang" />
                                            <input type="hidden" value="@Request.QueryString["year"]" name="nam" />
                                            <button type="submit" class="btn btn-default">Quay lại</button>
                                        </form>

                                        <form action="/Print/PrintFrom?TuyenID=@Request.QueryString["tuyen"]&month=@selectedMonth&year=@selectedYear" method="post">
                                            <input type="number" placeholder="Từ số hóa đơn" name="printFromNumber" class="negNumber" />
                                            <input type="number" placeholder="đến số hóa đơn" name="printToNumber" class="negNumber" />
                                            <input type="submit" value="Xem trước in danh sách theo số hóa đơn" name="printFrom" class="choose-print-machine"
                                                   data-toggle="modal" data-target=".set-print-machine" />
                                            <input type="submit" class="choose-print-machine"
                                                   value="In danh sách theo số hóa đơn" name="printFrom" data-toggle="modal" data-target=".set-print-machine" 
                                                   />
                                        </form>
                                    </div>
                                </div>

                                <!-- Modal box to set rpt file based on machine-->
                                <div class="modal fade set-print-machine" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <form method="post" id="set-print-machine-in-modal">
                                            <input type="hidden" name="printSelectedHidden" class="printSelectedHidden" />
                                            <input type="hidden" name="from" class="from negNumber"  />
                                            <input type="hidden" name="to" class="to negNumber" />
                                            <input type="hidden" name="printFrom" class="printFrom" />

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Chọn máy in</h4>
                                            </div>

                                            <div class="modal-body">                       
                                                <p><input type="radio" name="printMachine" value="LX2170" checked /> LX-2170 </p>                       
                                                <p><input type="radio" name="printMachine" value="TalliGenicom"/> TalliGenicom </p>
                                                <p><input type="radio" name="printMachine" value="LQ2190" /> LQ-2190 </p>                                               
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>                                                
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            }

                            
                            <div>
                                <div style="float:left">
                                    <div style="width: 30px; height: 30px; background-color: #2982A2; float: left"></div><span>Hóa đơn bị hủy / chưa cập nhật</span>
                                </div>
                                <div style="float:left;margin-left:30px">
                                    <div style="width: 30px; height: 30px; background-color: #f1c0c0; float: left"></div><span>Hóa đơn bị hủy / đã cập nhật</span>
                                </div>
                                <div style="float:left;margin-left:30px">
                                    <div style="width: 30px; height: 30px; background-color: #b8860b; float: left"></div><span>Hóa đơn đã in</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- Bảng xem chỉ số -->
                            <table class="unlimited table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>#</th>
                                        <th>Mã khách hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Địa chỉ</th>
                                        <th>Ngày bắt đầu</th>
                                        <th>Ngày kết thúc</th>
                                        <th>Thứ tự đọc</th>
                                        <th>Sản lượng</th>
                                        <th>Trước thuế</th>
                                        <th>VAT</th>
                                        <th>MT</th>
                                        <th>Tổng cộng</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        int i = 1;
                                    }

                                    @foreach (var item in dsKH)
                                    {

                                        int hoaDonNuocID = item.HoaDonNuoc;
                                        Hoadonnuoc hoaDonObj = db.Hoadonnuocs.Find(hoaDonNuocID);
                                        String ttHoaDonBiHuyCssClass = hoaDonNuoc.getCssClassTinhTrangHoaDonBiHuy(hoaDonNuocID);
                                        String cssClass = "";
                                        if (ttHoaDonBiHuyCssClass == "hoadonbihuy")
                                        {
                                            cssClass = ttHoaDonBiHuyCssClass;
                                        }
                                        else if (ttHoaDonBiHuyCssClass == "hoadonduoccapnhat")
                                        {
                                            if(hoaDonObj.Trangthaiin.GetValueOrDefault() == true) {
                                                   cssClass = "hoadonprinted";
                                            }
                                            else
                                            {
                                                cssClass = "hoadonduoccapnhat";
                                            }
                                        }
                                        
                                        if (hoaDonObj.Trangthaiin.GetValueOrDefault() == true)
                                        {
                                            cssClass = "hoadonprinted";
                                        }                               
                                        
                                        <tr class="@cssClass">
                                            <td><input type="checkbox" name="check" value="@hoaDonNuocID" /></td>
                                            <td>@i</td>
                                            <td>@item.MaKH</td>
                                            <!-- Những khách hàng nào đã in chỉ số thì hiện màu đỏ -->
                                            @if (hoaDonObj.Trangthaiin == true)
                                            {
                                                <td>@item.TenKH</td>
                                            }
                                            else
                                            {
                                                <td>@item.TenKH</td>
                                            }
                                            <td>@item.DiaChi</td>
                                            <td>@item.NgayBatDau</td>
                                            <td>@item.NgayKetThuc</td>
                                            <td>@item.TTDoc</td>
                                            <td>@item.SanLuong</td>
                                            @{
                                        double Sum = item.SH1Price * item.SH1 + item.SH2Price * item.SH2 + item.SH3Price * item.SH3 + item.SH4Price * item.SH4 +
                                            item.CCPrice * item.CC + item.HCPrice * item.HC + item.SXPrice * item.SX + item.KDPrice * item.KD;
                                            }
                                            <td>@String.Format("{0:#,##0.##}", Sum)</td>
                                            <td>@String.Format("{0:#,##0.##}", Math.Round(item.PhiVAT, 0))</td>
                                            <td>@String.Format("{0:#,##0.##}", Math.Round(item.PhiBVMT, 0))</td>
                                            <td style="color:blue">@String.Format("{0:#,##0.##}", item.TongCong)</td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>


                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".choose-print-machine").click(function () {
            var formAction = $(this).parent('form').prop('action');
            $("#set-print-machine-in-modal").prop('action', formAction);
        });
     
        $("input[type='submit'][name='printFrom']").click(function () {
            var fromValue = $("input[name='printFromNumber']").val();
            $(".from").val(fromValue);

            var toValue = $("input[name='printToNumber']").val();
            $(".to").val(toValue);

            var valuePrintFrom = $(this).val();
            $(".printFrom").val(valuePrintFrom);
        });
    });
</script>