@model HoaDonNuocHaDong.Khachhang

@{
    ViewBag.Title = "Thanh lý hợp đồng";

    var khachHang = ViewData["KhachHang"] as Khachhang;
}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget widget-table action-table">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>Thanh lý hợp đồng</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            @using (Html.BeginForm("Inactive","Khachhang",new { toID= Request.QueryString["toID"],nhanvienID=Request.QueryString["nhanvienID"] ,tuyenID = Request.QueryString["tuyenID"]}))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <input type="hidden" name="thanhLy" value="@ViewBag.KHID" />
                                <div class="form-group" style="margin:2%">
                                    <label for="" class="col-sm-2 control-label" style="margin-right:3%">Tên khách hàng</label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled="disabled" value="@khachHang.Ten"/>
                                    </div>
                                </div>
                                <div class="form-group" style="margin:2%">
                                    <label for="" class="col-sm-2 control-label" style="margin-right:3%">Mã khách hàng </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled="disabled" value="@khachHang.MaKhachHang" />
                                    </div>
                                </div>
                                <div class="form-group" style="margin:2%">
                                    <label for="" class="col-sm-2 control-label" style="margin-right:3%">Ngày thanh lý </label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(p => p.Ngaythanhly, "{0:dd/MM/yyyy}", new { @class = "form-control width datepicker", @required = "required" })
                                    </div>
                                </div>

                                <div class="form-group" style="margin:2%">
                                    <label for="" class="col-sm-2 control-label" style="margin-right:3%">Lí do thanh lý: </label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(p => p.Lydothanhly, new { @class = "form-control width" })
                                    </div>
                                </div>

                                <div class="form-group" style="margin-left:2%">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                        <button type="button" class="btn btn-danger" onclick="history.go(-1);">Quay lại</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<!-- /main -->
