@model HoaDonNuocHaDong.Nguoidung

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>Nguoidung</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Taikhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taikhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matkhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhanvien.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhanvien.Ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NguoidungID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
