@model IEnumerable<HoaDonNuocHaDong.Nguoidung>

@{
    ViewBag.Title = "Danh sách người dùng";
    var phongBan = ViewBag.phongBan as List<Phongban>;
    var chiNhanh = ViewBag.chinhanh;
    var loggedInUserIsAdmin = ViewBag.isAdmin;
    var loggedInUserQuanHuyenId = ViewBag.loggedInUserQuanHuyenId;
}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <!-- /span6 -->
                <div class="span12" style="margin-left:1% !important">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-list"></i>
                            <h3>Quản lý người dùng</h3>
                        </div>
                        <div class="widget-content">
                            <!-- Thêm mới tuyến sử dụng modal box-->
                            <div class="controls">
                                <!-- Button to trigger modal -->
                                <a href="@Url.Action("Create","Nguoidung")" role="button" class="btn btn-primary" data-toggle="modal">Thêm mới người dùng</a>
                            </div>

                            <!-- Bộ lọc để lọc dữ liệu -->
                            <div style="margin:2% 0 2% 0">
                                @using (Html.BeginForm("Index", "Nguoidung", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <!-- chi nhánh -->
                                        Quận huyện: <select class="dropdown form-control quanAllowClear" name="chinhanh">
                                            @foreach (var item in chiNhanh)
                                            {
                                                if (loggedInUserIsAdmin != "")
                                                {
                                                    if (item.QuanhuyenID == loggedInUserQuanHuyenId)
                                                    {
                                                        <option value="@item.QuanhuyenID">@item.Ten</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="@item.QuanhuyenID">@item.Ten</option>
                                                }
                                            }
                                        </select>
                                        Phòng ban: <select class="dropdown form-control phongbanAllowClear" style="width:220px;margin-right:3%" name="phongban">
                                            <!-- Option mặc định -->
                                            @foreach (var item in phongBan)
                                            {
                                                <option value="@item.PhongbanID">@item.Ten</option>
                                            }
                                        </select>

                                        <select class="dropdown form-control admin" style="width:150px;margin-right:3%" name="isAdmin">
                                            @if (loggedInUserIsAdmin != "")
                                            {
                                                <option value="0">Người dùng</option>
                                            }
                                            else
                                            {
                                                <option disabled="disabled" selected="selected">--Chức vụ--</option>
                                                <option value="0">Người dùng</option>
                                                <option value="1">Admin</option>
                                            }

                                        </select>

                                        <button type="submit" class="btn btn-default">Tìm kiếm</button>
                                    </div>
                                }
                            </div>
                            <!-- Hướng dẫn sử dụng -->
                            <div class="huongDan">
                                <p>Tìm kiếm danh sách người dùng bằng cách chọn quận huyện và phòng ban tương ứng</p>
                            </div>
                            <!-- Bảng tuyến -->
                            <table class="example table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên đăng nhập</th>
                                        <th>Tên nhân viên</th>
                                        <th>Thời gian đăng nhập gần nhất</th>
                                        <th>Trạng thái khóa</th>
                                        <th>Số lần đăng nhập sai</th>
                                        <th>Là admin</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Taikhoan</td>

                                            @if (item.Nhanvien == null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@item.Nhanvien.Ten</td>
                                            }

                                            <td>@HoaDonNuocHaDong.Helper.NguoidungHelper.getThoiGianDangNhap(item.NguoidungID)</td>

                                            <!-- Kiểm tra tình trạng đăng nhập bằng cách connect vào db-->
                                            @{
                                            HoaDonHaDongEntities db = new HoaDonHaDongEntities();
                                            Dangnhap dangNhap = db.Dangnhaps.FirstOrDefault(p => p.NguoidungID == item.NguoidungID);
                                            String lockStatus = "";
                                            if (dangNhap != null)
                                            {
                                                lockStatus = dangNhap.Trangthaikhoa == true ? "Khóa" : "";
                                            }

                                            }

                                            <td><label class="lockStatus">@lockStatus</label></td>
                                            <td>
                                                @if (HoaDonNuocHaDong.Helper.NguoidungHelper.getSoLanDangNhapSai(item.NguoidungID) > 0)
                                                {
                                                    <span class="red">@HoaDonNuocHaDong.Helper.NguoidungHelper.getSoLanDangNhapSai(item.NguoidungID)</span>
                                                }
                                                else
                                                {
                                                    <span>@HoaDonNuocHaDong.Helper.NguoidungHelper.getSoLanDangNhapSai(item.NguoidungID)</span>
                                                }
                                            </td>

                                            @if (item.Isadmin == true)
                                            {
                                                <td>Admin</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                            <td>
                                                @if (dangNhap != null)
                                                {
                                                    if (dangNhap.Trangthaikhoa == true)
                                                    {
                                                        <a href="javascript:void(0)" class="unlockAcc" data-rowid="@item.NguoidungID">Mở khóa</a>
                                                        <span>|</span>
                                                    }
                                                }

                                                @if (loggedInUserIsAdmin != null)
                                                {
                                                    if (item.Isadmin == false)
                                                    {
                                                        @Html.ActionLink("Đặt admin", "SetAsAdmin", new { id = item.NguoidungID })
                                                        @Html.Raw("|")
                                                    }
                                                    else
                                                    {
                                                        if (Convert.ToInt32(Session["nguoiDungID"]) != item.NguoidungID)
                                                        {
                                                            @Html.ActionLink("Hủy admin", "RemoveAdmin", new { id = item.NguoidungID }, new { @style = "color:red" })
                                                            @Html.Raw("|")
                                                        }
                                                    }
                                                }

                                                @Html.ActionLink("Sửa", "Edit", new { id = item.NguoidungID }) |
                                                @Html.ActionLink("Xóa", "Delete", new { id = item.NguoidungID }, new
                                           {
                                               onclick = "return confirm('Bạn có muốn xóa người dùng này không.')"
                                           })
                                            </td>
                                        </tr>
                                                i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .red {
        color: red;
    }
</style>