@model IEnumerable<HoaDonNuocHaDong.Nguoidung>

@{
    ViewBag.Title = "Danh sách người dùng";
    var phongBan = ViewBag.phongBan as List<Phongban>;
    var chiNhanh = ViewBag.chinhanh;
    var isAdminAndTruongPhong = ViewBag.isAdminVaTruongPhong;
    var isAdmin = ViewBag.isAdmin;
    var loggedInUserQuanHuyenId = ViewBag.loggedInUserQuanHuyenId;
    var currentlyLoggedInUser = ViewBag.currentlyLoggedInUser;
    HoaDonHaDongEntities db = new HoaDonHaDongEntities();
}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <!-- /span6 -->
                <div class="span12" style="margin-left:1% !important">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-list"></i>
                            <h3>Quản lý người dùng</h3>
                        </div>
                        <div class="widget-content">
                            <!-- Thêm mới tuyến sử dụng modal box-->
                            <div class="controls">
                                <!-- Button to trigger modal -->
                                <a href="@Url.Action("Create","Nguoidung")" role="button" class="btn btn-primary" data-toggle="modal">Thêm mới người dùng</a>
                            </div>

                            <!-- Bộ lọc để lọc dữ liệu -->
                            @if (isAdmin == "1")
                            {
                                <div style="margin:2% 0 2% 0">
                                    @using (Html.BeginForm("Index", "Nguoidung", FormMethod.Post))
                                    {
                                        <div class="form-group">

                                            <span>Quận huyện:</span>
                                            <select class="dropdown form-control quanAllowClear" name="chinhanh">
                                                @foreach (var item in chiNhanh)
                                                {
                                                    <option value="@item.QuanhuyenID">@item.Ten</option>
                                                }
                                            </select>
                                            <span>Phòng ban: </span>
                                            <select class="dropdown form-control phongbanAllowClear" style="width:220px;margin-right:3%" name="phongban">
                                                <!-- Option mặc định -->
                                                @foreach (var item in phongBan)
                                                {
                                                    <option value="@item.PhongbanID">@item.Ten</option>
                                                }
                                            </select>

                                            <span>Chức vụ:</span>
                                            <select class="dropdown form-control admin" style="width:150px;margin-right:3%" name="isAdmin">
                                                <option value="0">Người dùng</option>
                                                <option value="1">Admin</option>
                                            </select>

                                            <button type="submit" class="btn btn-default">Tìm kiếm</button>
                                        </div>
                                    }
                                </div>

                                  <!-- Hướng dẫn sử dụng -->
                                <div class="huongDan">
                                    <p>Tìm kiếm danh sách người dùng bằng cách chọn quận huyện và phòng ban tương ứng</p>
                                </div>
                            }

                            <!-- Bảng tuyến -->
                            <table class="example table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên đăng nhập</th>
                                        <th>Tên nhân viên</th>
                                        <th>Thời gian đăng nhập gần nhất</th>
                                        <th>Trạng thái khóa</th>
                                        <th>Số lần đăng nhập sai</th>
                                        <th>Là admin</th>
                                        @if (isAdminAndTruongPhong == "1")
                                        {
                                            <th></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Taikhoan</td>

                                            @if (item.Nhanvien == null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@item.Nhanvien.Ten</td>
                                            }

                                            <td>@HoaDonNuocHaDong.Helper.NguoidungHelper.getThoiGianDangNhap(item.NguoidungID)</td>

                                            @{
                                            Dangnhap dangNhap = db.Dangnhaps.FirstOrDefault(p => p.NguoidungID == item.NguoidungID);
                                            String lockStatus = "";
                                            if (dangNhap != null)
                                            {
                                                lockStatus = dangNhap.Trangthaikhoa == true ? "Khóa" : "";
                                            }
                                            }

                                            <td><label class="lockStatus">@lockStatus</label></td>
                                            <td>
                                                @if (HoaDonNuocHaDong.Helper.NguoidungHelper.getSoLanDangNhapSai(item.NguoidungID) > 0)
                                                {
                                                    <span class="red">@HoaDonNuocHaDong.Helper.NguoidungHelper.getSoLanDangNhapSai(item.NguoidungID)</span>
                                                }
                                                else
                                                {
                                                    <span>@HoaDonNuocHaDong.Helper.NguoidungHelper.getSoLanDangNhapSai(item.NguoidungID)</span>
                                                }
                                            </td>

                                            @if (item.Isadmin == true)
                                            {
                                                <td>Admin</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }


                                            @if (isAdminAndTruongPhong == "1")
                                            {
                                                <td>
                                                    @if (isAdmin == "1")
                                                    {
                                                        if (dangNhap != null)
                                                        {
                                                            if (dangNhap.Trangthaikhoa == true)
                                                            {
                                                                <a href="javascript:void(0)" class="unlockAcc" data-rowid="@item.NguoidungID">Mở khóa</a>
                                                                <span>|</span>
                                                            }
                                                        }

                                                        if (item.Isadmin == false)
                                                        {
                                                            if (item.NguoidungID != currentlyLoggedInUser)
                                                            {
                                                                @Html.ActionLink("Đặt admin", "SetAsAdmin", new { id = item.NguoidungID })
                                                                @Html.Raw("|")
                                                            }
                                                        }

                                                        else
                                                        {
                                                            if (item.NguoidungID != currentlyLoggedInUser)
                                                            {
                                                                @Html.ActionLink("Hủy admin", "RemoveAdmin", new { id = item.NguoidungID }, new { @style = "color:red" })
                                                                @Html.Raw("|")
                                                            }
                                                        }

                                                        if (item.NguoidungID != currentlyLoggedInUser)
                                                        {
                                                            <a href="/nguoidung/edit/@item.NguoidungID">Sửa</a>
                                                            <span>|</span>
                                                            <a href="/nguoidung/delete/@item.NguoidungID" onclick="return confirm('Bạn có muốn xóa người dùng này không.')">Xóa</a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (!item.Isadmin.Value)
                                                        {
                                                            <a href="/nguoidung/edit/@item.NguoidungID">Sửa</a>
                                                            <span>|</span>
                                                            <a href="/nguoidung/delete/@item.NguoidungID" onclick="return confirm('Bạn có muốn xóa người dùng này không.')">Xóa</a>
                                                        }
                                                    }

                                                </td>
                                            }
                                        </tr>
                                            i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .red {
        color: red;
    }
</style>