@model IEnumerable<HoaDonNuocHaDong.Tuyenong>


@{
    ViewBag.Title = "Danh sách tuyến ống";

    String actionName = ViewContext.RouteData.GetRequiredString("action");
    var quanHuyen = ViewBag.quanHuyen;
    var phuongXa = ViewBag.phuongXa;
}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <!-- /span6 -->
                <div class="span12" style="margin-left:1% !important">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-list"></i>
                            <h3>Danh sách tuyến ống</h3>
                        </div>
                        <div class="widget-content">
                            <div class="controls">
                                <!-- Button to trigger modal -->
                                <a href="@Url.Action("Create","Tuyenong")" role="button" class="btn btn-primary" data-toggle="modal">Thêm mới tuyến ống</a>
                                <br /><br />
                                <!-- Bộ lọc nằm đây -->
                                <div style="margin:2% 0 2% 0">
                                    @using (Html.BeginForm("Index", "Tuyenong", FormMethod.Post))
                                    {
                                        <div class="form-group">

                                            @Html.DropDownList("QuanHuyenID", (SelectList)quanHuyen, "", new { @class = "dropdown quan" })
                                            @Html.DropDownList("PhuongXaID", (SelectList)phuongXa, "", new { @class = "dropdown phuong" })

                                            <button type="submit" class="btn btn-default">Tìm kiếm</button>
                                        </div>
                                    }
                                </div>

                                <!-- Quận huyện -->
                                <div class="alert alert-success pull-left container-fluid">
                                    @if (actionName.Equals("Index"))
                                    {
                                        <input type="radio" name="viewDetail" onclick="window.location.href='@Url.Action("Index","Tuyenong")'" checked /> @Html.Raw("Xem theo dạng bảng")
                                    }
                                    else
                                    {
                                        <input type="radio" name="viewDetail" onclick="window.location.href='@Url.Action("Index","Tuyenong")'" /> @Html.Raw("Xem theo dạng bảng")
                                    }
                                    @if (actionName.Equals("ViewAsTree"))
                                    {
                                        <input type="radio" name="viewDetail" value="tree" onclick="window.location.href='@Url.Action("ViewAsTree","Tuyenong")'" checked style="margin-left:20px" /> @Html.Raw("Xem theo dạng cây")
                                    }
                                    else
                                    {
                                        <input type="radio" name="viewDetail" value="tree" onclick="window.location.href='@Url.Action("ViewAsTree","Tuyenong")'" style="margin-left:20px" /> @Html.Raw("Xem theo dạng cây")
                                    }
                                </div>
                                <!-- Load tuyến ống dưới dạng tree view-->
                                <table class="example table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã tuyến ống</th>
                                            <th>
                                                Tên tuyến ống
                                            </th>
                                            <th>Cấp tuyến ống</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.Matuyen</td>
                                                <td>@item.Tentuyen</td>
                                                <td>@item.CaptuyenID</td>
                                                <td>
                                                    @Html.ActionLink("Sửa", "Edit", new { id = item.TuyenongID }) |
                                                    @Html.ActionLink("Xóa", "Delete", new { id = item.TuyenongID }, new { @onclick = "return confirm('Bạn có muốn xóa tuyến ống này không')" })
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
