@{
    ViewBag.Title = "Danh sách tuyến ống";
    List<HoaDonNuocHaDong.Models.Tuyenong.ChiSoCap> sanLuongChiSoCapTuyenOng = ViewData["danhsachTuyenOng"] as List<HoaDonNuocHaDong.Models.Tuyenong.ChiSoCap>;
    var quanHuyen = ViewBag.quanHuyen;
    var phuongXa = ViewBag.phuongXa;
}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <!-- /span6 -->
                <div class="span12" style="margin-left:1% !important">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-list"></i>
                            <h3>Danh sách tuyến ống</h3>
                        </div>
                        <div class="widget-content">
                            <div class="controls">
                                <!-- Button to trigger modal -->
                                <a href="@Url.Action("Create","Tuyenong")" role="button" class="btn btn-primary" data-toggle="modal">Thêm mới tuyến ống</a>
                                <br /><br />
                                <!-- Bộ lọc nằm đây -->
                                <div style="margin:2% 0 2% 0">
                                    @using (Html.BeginForm("NhapChiSo", "Tuyenong", FormMethod.Post))
                                    {
                                        <div class="form-group">

                                            @Html.DropDownList("QuanHuyenID", (SelectList)quanHuyen, "", new { @class = "dropdown quan" })
                                            @Html.DropDownList("PhuongXaID", (SelectList)phuongXa, "", new { @class = "dropdown phuong" })
                                            <input type="text" placeholder="Tháng" name="thangcs" /> 
                                            <input type="text" placeholder="Năm" name="namcs" />
                                            <button type="submit" class="btn btn-default">Tìm kiếm</button>
                                        </div>
                                    }
                                </div>
                             
                               
                                <!-- Load tuyến ống dưới dạng tree view-->
                                <table class="example table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã tuyến ống</th>
                                            <th>
                                                Tên tuyến ống
                                            </th>
                                            <th>Cấp tuyến ống</th>
                                            <th>Sản lượng tháng</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in sanLuongChiSoCapTuyenOng)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.MaTuyenOng</td>
                                                <td>@item.TenTuyenOng</td>
                                                <td>@item.CapTuyenOng</td>
                                                <td><input type="text" name="sanLuongTuyenOng" data-tuyenongid="@item.TuyenOngID" value="@item.ChiSoSanLuongTuyenOng"/></td>
                                                
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
