@{
    ViewBag.Title = "Danh sách tuyến ống";
    List<HoaDonNuocHaDong.Models.Tuyenong.ChiSoCap> sanLuongChiSoCapTuyenOng = ViewData["danhsachTuyenOng"] as List<HoaDonNuocHaDong.Models.Tuyenong.ChiSoCap>;
    var quanHuyens = ViewData["quanHuyens"] as List<Quanhuyen>;
    var phuongXas = ViewData["phuongXas"] as List<Phuongxa>;
    var selectedQuanHuyen = ViewBag.selectedQuanHuyen;
    var selectedPhuongXa = ViewBag.selectedPhuongXa;
    var selectedMonth = ViewBag.selectedMonth;
    var selectedYear = ViewBag.selectedYear;
}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <!-- /span6 -->
                <div class="span12" style="margin-left:1% !important">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-list"></i>
                            <h3>Danh sách tuyến ống</h3>
                        </div>
                        <div class="widget-content">
                            <div class="controls">
                                <!-- Button to trigger modal -->
                                <a href="@Url.Action("Create","Tuyenong")" role="button" class="btn btn-primary" data-toggle="modal">Thêm mới tuyến ống</a>
                                <br /><br />
                                <!-- Bộ lọc nằm đây -->
                                <div style="margin:2% 0 2% 0">
                                    @using (Html.BeginForm("NhapChiSo", "Tuyenong", FormMethod.Post))
                                    {
                                        <div class="form-group">

                                            <select name="QuanHuyenID" class="dropdown quanAllowClear">
                                                @foreach (var quanHuyen in quanHuyens)
                                                {
                                                    if (quanHuyen.QuanhuyenID == selectedQuanHuyen)
                                                    {
                                                        <option value="@quanHuyen.QuanhuyenID" selected>@quanHuyen.Ten</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@quanHuyen.QuanhuyenID">@quanHuyen.Ten</option>
                                                    }

                                                }

                                            </select>

                                            <select name="PhuongXaID" class="dropdown phuongAllowClear">
                                                @foreach (var phuongXa in phuongXas)
                                                {
                                                    if (phuongXa.PhuongxaID == selectedPhuongXa)
                                                    {
                                                        <option value="@phuongXa.PhuongxaID" selected>@phuongXa.Ten</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@phuongXa.PhuongxaID">@phuongXa.Ten</option>
                                                    }

                                                }
                                            </select>
                                            <input type="text" placeholder="Tháng" name="thangcs" style="margin-top:10px" value="@selectedMonth"/>
                                            <input type="text" placeholder="Năm" name="namcs" style="margin-top:10px" value="@selectedYear"/>

                                            <p style="text-align:center"><button type="submit" class="btn btn-default">Tìm kiếm</button></p>
                                        </div>
                                    }
                                </div>


                                <!-- Load tuyến ống dưới dạng tree view-->
                                <table class="example table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã tuyến ống</th>
                                            <th>Tên tuyến ống</th>
                                            <th>Cấp tuyến ống</th>
                                            <th>Sản lượng tháng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in sanLuongChiSoCapTuyenOng)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.MaTuyenOng</td>
                                                <td>@item.TenTuyenOng</td>
                                                <td>@item.CapTuyenOng</td>
                                                <td><input type="text" name="sanLuongTuyenOng" data-tuyenongid="@item.TuyenOngID" value="@item.ChiSoSanLuongTuyenOng" /></td>

                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
