@model List<HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonModel>

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <h3>@ViewBag.SectionTitle</h3>
                    </div>
                    <div class="widget-content">
                        <div class="tabable">
                            <ul class="nav nav-tabs">
                                <li @(ViewBag.Filter.TrangThaiThu == null ? "class=active" : "")>
                                    <a href="@Url.Action("Index", "HoaDon", new { area = "ThuNgan", LoaiKhachHang = @ViewBag.Filter.LoaiKhachHang, HinhThucThanhToan = @ViewBag.Filter.HinhThucThanhToan })">
                                        Danh sách hóa đơn tháng @DateTime.Now.Month/@DateTime.Now.Year
                                    </a>
                                </li>
                                <li @(ViewBag.Filter.TrangThaiThu == false && ViewBag.Filter.To == null ? "class=active" : "")>
                                    <a href="@Url.Action("Index", "HoaDon", new { area = "ThuNgan", LoaiKhachHang = @ViewBag.Filter.LoaiKhachHang, HinhThucThanhToan = @ViewBag.Filter.HinhThucThanhToan, TrangThaiThu = false, From = DateTime.Now.Month + "-" + DateTime.Now.Year })">
                                        Danh sách khách hàng chưa nộp tiền trong tháng
                                    </a>
                                </li>
                                <li @(ViewBag.Filter.TrangThaiThu == false && ViewBag.Filter.From == null ? "class=active" : "")>
                                    <a href="@Url.Action("Index", "HoaDon", new { area = "ThuNgan", LoaiKhachHang = @ViewBag.Filter.LoaiKhachHang, HinhThucThanhToan = @ViewBag.Filter.HinhThucThanhToan, TrangThaiThu = false, From = "", To = DateTime.Now.Month - 1 + "-" + DateTime.Now.Year })">
                                        Danh sách nợ đã hết hạn
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                @Html.Partial("_HoaDonFilter", (object)ViewBag.Filter)
                                <div class="tab-pane active" id="tab-khuvuc">

                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered data-table">
                                            <thead>
                                                <tr>
                                                    <th>TT</th>
                                                    <th>Mã khách hàng</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Tháng</th>
                                                    <th>Số tiền phải nộp</th>
                                                    <th>Trạng thái thu <input id="checkAll" type="checkbox" /></th>
                                                    <th style="width:8%">Ngày thu</th>
                                                    <th style="width:13%">Số tiền đã nộp</th>
                                                </tr>
                                            </thead>
                                            @{
                                                var stt = 0;
                                                int tong = 0;
                                            }
                                            @foreach (HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonModel item in Model)
                                            {
                                                if (item.SoTienNopTheoThang != null)
                                                {
                                                    tong += item.SoTienNopTheoThang.SoTienDaThu.Value;
                                                }
                                                <tr>
                                                    <td>@(++stt)</td>
                                                    <td>@item.KhachHang.MaKhachHang</td>
                                                    <td>
                                                        <a class="passmodal" href="#" style="color:black;" data-toggle="modal" data-target="#myModal"
                                                           data-khachhang="@item.KhachHang.KhachhangID" data-loaikhachhang="@item.KhachHang.LoaiKHID"
                                                           data-thanhtoan="@item.KhachHang.HinhthucttID" data-hd="@item.HoaDon.Sohoadon">
                                                            @item.KhachHang.Ten
                                                        </a>
                                                    </td>
                                                    <td>@item.KhachHang.Diachi</td>
                                                    <td>@item.HoaDon.ThangHoaDon/@item.HoaDon.NamHoaDon</td>
                                                    <td>
                                                        @if (item.SoTienNopTheoThang != null)
                                                        {
                                                            @HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(item.SoTienNopTheoThang.SoTienPhaiNop.Value)
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("0")
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.HoaDon.Trangthaithu == true)
                                                        {
                                                            <input type="checkbox" class="@item.HoaDon.HoadonnuocID" checked value="1" name="TrangThaiThu" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="0" class="@item.HoaDon.HoadonnuocID" name="TrangThaiThu" />
                                                        }
                                                    </td>
                                                    <td width=10%>
                                                        @if (item.HoaDon.NgayNopTien.Equals(null) || item.HoaDon.Trangthaithu != true)
                                                        {
                                                            <input type="date" name="ngaynop" value="" style="width:70px" id="@item.HoaDon.HoadonnuocID" class="ngaynoptien" />

                                                        }
                                                        else
                                                        {
                                                            <input type="date" name="ngaynop" value="@item.HoaDon.NgayNopTien.Value.ToString("dd/MM/yyyy")" style="width:70px" id="@item.HoaDon.HoadonnuocID" class="ngaynoptien" />
                                                        }

                                                    </td>
                                                    <td>
                                                        <div style="color:red">
                                                            <span class="@item.HoaDon.HoadonnuocID">
                                                                @if (item.SoTienNopTheoThang != null && item.SoTienNopTheoThang.SoTienDaThu != null)
                                                                {
                                                                    @HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(item.SoTienNopTheoThang.SoTienDaThu.Value)
                                                                }
                                                                else
                                                                {
                                                                    @Html.Raw("0")
                                                                }
                                                            </span>

                                                            <a class="passGiaoDich" href="#" style="color:black;" data-toggle="modal" data-target="#ThemTien"
                                                               data-khachhang="@item.KhachHang.KhachhangID" data-tiennoptheothang="@item.HoaDon.SoTienNopTheoThangID" data-hdid="@item.HoaDon.HoadonnuocID">
                                                                <button style="margin-bottom:8px">+</button>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            <tfoot>
                                                <tr>
                                                    <td colspan="5">Tổng tiền trong hóa đơn</td>
                                                    <td class="tong"> @Html.Raw(HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(tong)) </td>
                                                    <td colspan="2"></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        @Html.Partial("_Pager", (object)ViewBag.Pager)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal box cho chọn tên -->
<div id="myModal" class="modal fade" role="dialog" style="top:50%;display:none">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Chi tiết</h3>
            </div>
            <div class="modal-body">
                <h5><a href="">Xem chi tiết thông tin cá nhân</a></h5>

                <div id="thongtin"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal box đóng thêm tiền của khách hàng-->
<div id="ThemTien" class="modal fade" role="dialog" style="top:50%;display:none">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Khách hàng đóng thêm tiền vào dư có</h3>
            </div>
            <div class="modal-body">

                <div class="span3">Số tiền khách hàng đóng thêm</div> <input class="form-control" type="text" name="sotien" required /> <br />
                <div class="span3">Ngày nộp</div> <input type="date" name="ngaynop" id="ngaynop" />
                <input id="tiennoptheothangID" type="hidden" name="tiennoptheothangID">
                <button type="submit" class="bnt btn-success" style="margin-bottom:10px">Nộp tiền</button>

            </div>
            <div class="modal-body">
                <h3>Lịch sử giao dịch của khách hàng</h3>
                <br />
                <div id="ls" style="display:inline !important">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- end modal -->
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // onInit:
            loadQuanHuyen($(".sl-quan-huyen"), "@ViewBag.Filter.QuanHuyenID");
        });

        // load data onChange
        $(".sl-quan-huyen").on("change", function () {
            // get selected quanHuyenID
            var quanHuyenID = $(this).val();

            // loadTo
            loadTo($(".sl-to"), quanHuyenID, "@ViewBag.Filter.ToID");
        });

        $(".sl-to").on("change", function () {
            // get selected toID
            var toID = $(this).val();

            // loadNhanVien
            loadNhanVien($(".sl-nhan-vien"), toID, "@ViewBag.Filter.NhanVienID");
        });

        $(".sl-nhan-vien").on("change", function () {
            // get selected nhanVien
            var nhanVienID = $(this).val();

            // loadTuyen
            loadTuyen($(".sl-tuyen-kh"), nhanVienID, "@ViewBag.Filter.TuyenKHID");
        });
    </script>
}