@model List<HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonModel>
@{
    Layout = null;
}
<meta charset="utf-8" />
<table border="1">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã khách hàng</th>
            <th>Tên khách hàng</th>
            <th>Địa chỉ</th>
            <th>Tháng</th>
            <th>Số tiền trên hóa đơn</th>
            <th>Số tiền phải nộp</th>
            <th>Dư nợ/ có theo hóa đơn</th>
            <th>Trạng thái thu</th>
            <th>Ngày thu</th>
            <th>Số tiền đã nộp</th>
        </tr>
    </thead>
    @{
        var stt = 0;
    }
    @foreach (HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonModel item in Model)
    {
        int duNo = (int)(item.SoTienNopTheoThang.SoTienPhaiNop - item.SoTienNopTheoThang.SoTienDaThu);

        if (item.HoaDon.Trangthaithu == true)
        {
            duNo = 0;
        }

        if (item.DuCo != null)
        {
            duNo = (int)-item.DuCo.SoTienDu;
        }
        <tr>
            <td style="text-align: right">@(++stt)</td>
            <td class="text-center">@item.KhachHang.MaKhachHang</td>
            <td>@item.KhachHang.Ten</td>
            <td>@item.KhachHang.Diachi</td>
            <td style="mso-number-format:mm\/yyyy">@item.HoaDon.ThangHoaDon/@item.HoaDon.NamHoaDon</td>
            <td style="text-align: right;">@item.LichSuHoaDon.TongCong</td>
            <td style="text-align: right;">@item.SoTienNopTheoThang.SoTienPhaiNop</td>
            <td style="text-align: right; font-weight:bold color:@(duNo > 0 ? "red" : "green")">
                @(duNo > 0 ? duNo : -duNo)
            </td>
            <td style="text-align: center;">
                @(item.HoaDon.Trangthaithu == true ? "x" : "")
            </td>
            <td style="mso-number-format:dd\/mm\/yyyy">
                @if (item.HoaDon.Trangthaithu == true && item.SoTienNopTheoThang.SoTienDaThu == 0)
                {
                }
                else
                {
                    @(item.HoaDon.NgayNopTien != null ? item.HoaDon.NgayNopTien.Value.ToString("dd/MM/yyyy") : "")
                }
            </td>
            <td style="text-align: right">
                @item.SoTienNopTheoThang.SoTienDaThu.Value
            </td>
        </tr>
    }
    <tfoot>
        <tr style="font-weight: bold;">
            <td style="text-align: right;" colspan="6">Tổng số tiền phải nộp</td>
            <td style="text-align: right;">@ViewBag.TongSoTienPhaiNop</td>
            <td style="text-align: right;" colspan="3">Tổng số tiền đã thu</td>
            <td style="text-align: right;">@ViewBag.TongSoTienDaNop</td>
        </tr>
    </tfoot>
</table>