@model List<HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonModel>
@using HDNHD.Core.Models;

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <h3>Quản lý công nợ khách hàng</h3>
                    </div>
                    <div class="widget-content">
                        @Html.Partial("_HoaDonFilter", (object)ViewBag.Filter)
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th>TT</th>
                                        <th>Mã khách hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Địa chỉ</th>
                                        <th>Tháng</th>
                                        <th>Số tiền trên hóa đơn</th>
                                        <th>Số tiền phải nộp</th>
                                        <th>Dư nợ/ có theo hóa đơn</th>
                                        <th>Trạng thái thu</th>
                                        <th>Ngày thu</th>
                                        <th>Số tiền đã nộp</th>
                                    </tr>
                                </thead>
                                @{
                                    var stt = 0;
                                    int tong = 0;
                                }
                                @foreach (HoaDonNuocHaDong.Areas.ThuNgan.Models.HoaDonModel item in Model)
                                {
                                    tong += item.SoTienNopTheoThang.SoTienDaThu ?? 0;
                                    int duNo = (int)(item.SoTienNopTheoThang.SoTienPhaiNop - item.SoTienNopTheoThang.SoTienDaThu);
                                    <tr>
                                        <td style="text-align: right">@(++stt)</td>
                                        <td class="text-center">@item.KhachHang.MaKhachHang</td>
                                        <td>
                                            <a href="@Url.Action("LichSuDungNuoc", "KhachHang", new { area="ThuNgan", id=@item.KhachHang.KhachhangID })" target="_blank">
                                                @item.KhachHang.Ten
                                            </a>
                                        </td>
                                        <td>@item.KhachHang.Diachi</td>
                                        <td>@item.HoaDon.ThangHoaDon/@item.HoaDon.NamHoaDon</td>
                                        <td style="text-align: right;">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(item.SoTienNopTheoThang.SoTienTrenHoaDon)</td>
                                        <td style="text-align: right;">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(item.SoTienNopTheoThang.SoTienPhaiNop.Value)</td>
                                        <td style="text-align: right; font-weight:bold"><span class="txt-so-tien-con-thieu @(duNo > 0 ? "text-error" : "text-success")">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(duNo > 0 ? duNo : -duNo)</span></td>
                                        <td style="text-align: center;">
                                            @if (item.HoaDon.Trangthaithu == true)
                                            {
                                                if (item.SoTienNopTheoThang.SoTienDaThu == 0)
                                                {
                                                    <input type="checkbox" checked disabled />
                                                    <a href="#" data-toggle="tooltip" title="Khách hàng thanh toán trừ dư có." class="text-info"><i class="icon-info-sign"></i></a>
                                                }
                                                else if (item.KhachHang.HinhthucttID == (int)HDNHD.Models.Constants.EHinhThucThanhToan.ChuyenKhoan)
                                                {
                                                    <input type="checkbox" checked disabled />
                                                    <a href="#" data-toggle="tooltip" title="Khách hàng thanh toán qua chuyển khoản." class="text-info"><i class="icon-info-sign"></i></a>
                                                }
                                                else if (item.HoaDon.NgayNopTien.Value.Month == DateTime.Now.Month && item.HoaDon.NgayNopTien.Value.Year == DateTime.Now.Year)
                                                {
                                                    <input type="checkbox" checked class="chk-thanh-toan" autocomplete="off" value="@item.HoaDon.HoadonnuocID" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" checked class="chk-thanh-toan" autocomplete="off" data-confirm="Hóa đơn KHÔNG được thanh toán trong tháng này. Xác nhận hủy?" value="@item.HoaDon.HoadonnuocID" />
                                                }
                                            }
                                            else
                                            {
                                                if (item.CoDuNoQuaHan)
                                                {
                                                    <input type="checkbox" disabled />
                                                    <a href="#" data-toggle="tooltip" title="Khách hàng có dư nợ quá hạn cần thanh toán trước." class="text-warning"><i class="icon-info-sign"></i></a>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="chk-thanh-toan" autocomplete="off" value="@item.HoaDon.HoadonnuocID" />
                                                }
                                            }
                                        </td>
                                        <td style="width: 8%">
                                            <input type="date" class="tbx-ngay-thu" autocomplete="off" value="@(item.HoaDon.NgayNopTien != null ? item.HoaDon.NgayNopTien.Value.ToString("dd/MM/yyyy") : "")" style="width: 70px;" />
                                        </td>
                                        <td style="text-align: right; width: 12%">
                                            <span class="txt-so-tien-da-nop @(item.SoTienNopTheoThang.SoTienDaThu.Value > item.SoTienNopTheoThang.SoTienPhaiNop.Value ? "text-success":"")">
                                                @HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(item.SoTienNopTheoThang.SoTienDaThu.Value)
                                            </span>
                                            @if (!item.CoDuNoQuaHan)
                                            {
                                                <a href="@Url.Action("ThemGiaoDich", "HoaDon", new { area = "ThuNgan", hoaDonID = @item.HoaDon.HoadonnuocID })" data-toggle="modal" data-target="#modal-them-giao-dich" data-remote="false" class="btn btn-small btn-them-giao-dich" style="margin-bottom: 8px" title="Thêm vào dư có">
                                                    +
                                                </a>
                                            }
                                            else
                                            {
                                                <span style="display:inline-block; min-width:27px;"><a href="#" data-toggle="tooltip" title="Khách hàng có dư nợ quá hạn cần thanh toán trước." class="text-info"><i class="icon-info-sign"></i></a></span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tfoot>
                                    <tr style="font-weight: bold;">
                                        <td style="text-align: right;" colspan="6">Tổng số tiền phải nộp</td>
                                        <td style="text-align: right;">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(ViewBag.TongSoTienPhaiNop)</td>
                                        <td style="text-align: right;" colspan="3">Tổng số tiền đã thu</td>
                                        <td style="text-align: right;">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(ViewBag.TongSoTienDaNop)</td>
                                    </tr>
                                </tfoot>
                            </table>
                            @Html.Partial("_Pager", (object)ViewBag.Pager)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal box đóng thêm tiền của khách hàng-->
<div id="modal-them-giao-dich" class="modal fade" role="dialog" style="top:50%;display:none">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/Assets/css/toastr.min.css" />
}

<!-- end modal -->
@section Scripts {
    <script src="~/Assets/js/toastr.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            // onInit:
            loadQuanHuyen($(".sl-quan-huyen"), "@ViewBag.Filter.QuanHuyenID");

            // load data onChange
            $(".sl-quan-huyen").on("change", function () {
                // get selected quanHuyenID
                var quanHuyenID = $(this).val();

                // loadTo
                loadTo($(".sl-to"), quanHuyenID, "@ViewBag.Filter.ToID");
            });

            $(".sl-to").on("change", function () {
                // get selected toID
                var toID = $(this).val();

                // loadNhanVien
                loadNhanVien($(".sl-nhan-vien"), toID, "@ViewBag.Filter.NhanVienID");
            });

            $(".sl-nhan-vien").on("change", function () {
                // get selected nhanVien
                var nhanVienID = $(this).val();

                // loadTuyen
                loadTuyen($(".sl-tuyen-kh"), nhanVienID, "@ViewBag.Filter.TuyenKHID");
            });

            /* check thanh toán */
            $(".chk-thanh-toan").change(function () {
                var $trangThaiThu = $(this),
                    message = $trangThaiThu.attr('data-confirm');

                if (message !== undefined) {
                    if (!confirm(message)) {
                        $trangThaiThu.prop("checked", !$trangThaiThu.is(":checked"));
                        return;
                    }
                }

                var hoaDonID = $trangThaiThu.val(),
                    $tr = $trangThaiThu.closest("tr"),
                    $ngayThu = $tr.find(".tbx-ngay-thu"),
                    $soTienDaNop = $tr.find(".txt-so-tien-da-nop"),
                    $soTienConThieu = $tr.find(".txt-so-tien-con-thieu");

                capNhatThanhToan(hoaDonID, $trangThaiThu, $ngayThu, $soTienDaNop, $soTienConThieu);
            });

            /* cập nhật ngày thu */
            $(".tbx-ngay-thu").datepicker({
                todayBtn: "linked",
                format: 'dd/mm/yyyy',
            }).on("change", function () {
                var $ngayThu = $(this),
                    $tr = $ngayThu.closest("tr"),
                    $trangThaiThu = $tr.find(".chk-thanh-toan");

                var ngayThu = $(this).val(),
                    trangThaiThu = $trangThaiThu.is(":checked"),
                    hoaDonID = $trangThaiThu.val();

                if (ngayThu.length == "dd/mm/yyyy".length && trangThaiThu) {
                    capNhatNgayThu($ngayThu, hoaDonID, ngayThu);
                }
            });

            /* thêm giao dịch */
            $(".btn-them-giao-dich").click(function (e) {
                e.preventDefault();

                var $themGiaoDich = $(this),
                    $tr = $themGiaoDich.closest("tr"),
                    $trangThaiThu = $tr.find(".chk-thanh-toan"),
                    $ngayThu = $tr.find(".tbx-ngay-thu"),
                    $soTienDaNop = $tr.find(".txt-so-tien-da-nop"),
                    $soTienConThieu = $tr.find(".txt-so-tien-con-thieu"),
                    $modal = $("#modal-them-giao-dich");

                $modal.find(".modal-body").load($themGiaoDich.attr("href"));
                $modal
                    .one("shown.bs.modal", function () {
                        $modal.find("form").submit(function (e) {
                            e.preventDefault();

                            var url = $(this).attr("action"),
                                data = $(this).serialize();

                            $modal.modal("hide");

                            // waiting
                            $themGiaoDich.attr("disabled", true);
                            $themGiaoDich.after('<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>');

                            BUtils.ajax(url, data,
                                function (data) { // success
                                    var model = data.Data;
                                    $trangThaiThu.prop("checked", model.HoaDon.TrangThaiThu);
                                    $ngayThu.val(model.HoaDon.NgayNopTien);
                                    $soTienDaNop.html(model.SoTienNopTheoThang.SoTienDaThu);
                                    $soTienConThieu.html(model.SoTienNopTheoThang.DuNo);
                                    // set màu cho duNo/ duCo
                                    if (!model.HoaDon.TrangThaiThu) {
                                        $soTienConThieu.removeClass("text-success");
                                        $soTienConThieu.addClass("text-error");
                                        $soTienDaNop.removeClass("text-success");
                                    } else {
                                        $soTienConThieu.removeClass("text-error");
                                        $soTienConThieu.addClass("text-success");
                                        $soTienDaNop.addClass("text-success");
                                    }

                                    $themGiaoDich.after('<div class="progress progress-success"><div class="bar" style="width: 100%;"></div></div>');
                                },
                                function (data) { // error
                                    $themGiaoDich.prop("checked", !trangThaiThu); // back state
                                    $themGiaoDich.after('<div><a href="#" class="text-error" data-toggle="tooltip" title="' + data.Message + '"><i class="icon-info-sign"></i></a></div>');
                                }, "post");

                            // done
                            $themGiaoDich.attr("disabled", false);
                            $themGiaoDich.siblings(".progress-striped").remove();
                        });
                    })
                    .modal("show");
            });

            // check if process DanhDauTatCa
            var isCheckingAll = @(ViewBag.ToDo == "DanhDauTatCa" ? "true" : "false");

            if (isCheckingAll)
                danhDauTatCa();

            /* Đánh dấu tất cả */
            $('#btn-danh-dau-tat-ca').click(function (e) {
                e.preventDefault();

                if (confirm('Bạn có chắc chắn muốn đánh dấu tất cả những khách hàng này ĐÃ NỘP TIỀN?')) {
                    danhDauTatCa();
                }
            });

            function danhDauTatCa() {
                // waiting
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "0",
                    "extendedTimeOut": "0",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.warning("Đang đánh dấu tất cả đã nộp. Vui lòng đợi...");

                // wait ajax to complete
                $.ajaxSetup({ async: false });

                // check all
                $(".chk-thanh-toan").each(function (i, obj) {
                    var $trangThaiThu = $(this);

                    $trangThaiThu.prop("checked", true).change();
                });

                var hasNextPage = @(ViewBag.Pager.NoPages > ViewBag.Pager.Page ? "true" : "false");
                if (hasNextPage) {
                    var url = "@Pager.BuildQueryStringUrl(ViewBag.Pager.UrlNext().ToString(), new string[] { "ToDo=DanhDauTatCa" })";
                    window.location.replace(url);
                } else {
                    toastr.clear();
                    toastr.success("Hoàn tất đánh dấu tất cả ĐÃ NỘP!");
                }
            }

            /* END Đánh dấu tất cả */
        });
    </script>
}