@{
    Layout = null;
}
<h4 class="header-title">Khách hàng: <span class="big">@ViewBag.HoaDonModel.KhachHang.MaKhachHang - @ViewBag.HoaDonModel.KhachHang.Ten</span></h4>

<form id="frm-them-giao-dich" class="form-horizontal" method="post" action="@Url.Action("ThemGiaoDich", "GiaoDich", new { area="Services" })">
    <fieldset>
        <legend>Thêm giao dịch</legend>
        <input type="hidden" name="HoaDonID" value="@ViewBag.HoaDonModel.HoaDon.HoadonnuocID" />
        <div class="control-group">
            <label class="control-label" for="soTien">Số tiền</label>
            <div class="controls">
                <input type="number" name="SoTien" min="1000" id="soTien" placeholder="Số tiền">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ngayGiaoDich">Ngày giao dịch</label>
            <div class="controls">
                <input type="text" class="tbx-ngay-thu" name="NgayGiaoDich" id="ngayGiaoDich" placeholder="Ngày giao dịch">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" id="btn-giao-dich">Hoàn thành</button>
            </div>
        </div>
    </fieldset>
</form>

<h4>Lịch sử giao dịch của khách hàng</h4>
<br />
<table class="table table-striped table-bordered data-table">
    <thead>
        <tr>
            <th>TT</th>
            <th>Tháng</th>
            <th>Số tiền trên hóa đơn</th>
            <th>Số tiền giao dịch</th>
            <th>Số tiền còn thiếu</th>
            <th>Ngày giao dịch</th>
        </tr>
    </thead>
    @{ var i = 1; }
    @foreach (HoaDonNuocHaDong.Areas.ThuNgan.Models.GiaoDichModel item in Model)
    {
        int duNo = (int) (item.SoTienNopTheoThang.SoTienPhaiNop - item.SoTienNopTheoThang.SoTienDaThu);
        <tr>
            <td style="text-align:center;">@(i++)</td>
            <td style="text-align:center;">@item.HoaDon.ThangHoaDon/@item.HoaDon.NamHoaDon</td>
            <td style="text-align:right;">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(item.SoTienNopTheoThang.SoTienPhaiNop.Value)</td>
            <td style="text-align:right;">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(item.GiaoDich.SoTien.Value)</td>
            <td style="text-align:right;">@HoaDonNuocHaDong.Helper.HoaDonNuoc.formatCurrency(duNo)</td>
            <td style="text-align:center;">@item.GiaoDich.NgayGiaoDich.Value.ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>
<p>Vui lòng <strong>Xem nhiều hơn</strong> hoặc <strong>Hủy</strong> tại trang <a href="@Url.Action("LichSuGiaoDich", "KhachHang", new { area="ThuNgan", id=ViewBag.KhachHang.KhachhangID })" target="_blank">Lịch sử giao dịch.</a>.</p>

<script>
    $(".tbx-ngay-thu").datepicker({
        todayBtn: "linked",
        format: 'dd/mm/yyyy',
    });
</script>