@{
    ViewBag.Title = "BaoCaoTongHopSanLuong";
    Layout = "~/Views/Shared/BaoCaoKinhDoanh.cshtml";
    var tong = ViewBag.tong;
}
<style>
    .xulybc {        
        margin: 2% 10%;
    }

    .ten {
        font-size: 29px;
        font-weight: bold;
    }

    .loc {
        font-size: 13px;
        font-weight: bold;
    }
</style>
<div class="ten center">Báo cáo tổng hợp sản lượng</div>
<br/>
<div class="loc center">Tháng @DateTime.Now.Month - Năm @DateTime.Now.Year</div>

<table class="table table-bordered">
    <thead style="text-align:center">
        <tr>
            <th rowspan="2">TT</th>
            <th rowspan="2"></th>
            <th colspan="4">Sinh hoạt</th>           
            <th rowspan="2">Công cộng</th>
            <th rowspan="2">Hành chính</th>
            <th rowspan="2">SX-XD</th>
            <th rowspan="2">Kinh doanh</th>
            <th rowspan="2">Tổng sản lượng</th>
            <th colspan="4">Doanh thu</th>
        </tr>
        <tr>
            <th>SH1</th>
            <th>SH2</th>
            <th>SH3</th>
            <th>SH4</th>

            <th>Trước thuế, phí</th>
            <th>Thuế VAT</th>
            <th>Phí NT</th>
            <th>Tổng</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;
        int sumSH1 = 0; int sumHC = 0; int sumTongSL = 0; int TongCong = 0;
        int sumSH2 = 0; int sumCC = 0; int truocThue = 0;
        int sumSH3 = 0; int sumKDDV = 0; int VAT = 0;
        int sumSH4 = 0; int sumSX = 0; int PhiNT = 0;
        }
        @foreach (var item in tong)
        {

            sumSH1 = sumSH1 + Convert.ToInt32(item.GetType().GetProperty("SH1Sum").GetValue(item, null));
            sumSH2 = sumSH2 + Convert.ToInt32(item.GetType().GetProperty("SH2Sum").GetValue(item, null));
            sumSH3 = sumSH3 + Convert.ToInt32(item.GetType().GetProperty("SH3Sum").GetValue(item, null));
            sumSH4 = sumSH4 + Convert.ToInt32(item.GetType().GetProperty("SH4Sum").GetValue(item, null));
            sumHC = sumHC + Convert.ToInt32(item.GetType().GetProperty("HCSum").GetValue(item, null));
            sumCC = sumCC + Convert.ToInt32(item.GetType().GetProperty("CCSum").GetValue(item, null));
            sumSX = sumSX + Convert.ToInt32(item.GetType().GetProperty("SXSum").GetValue(item, null));
            sumKDDV = sumKDDV + Convert.ToInt32(item.GetType().GetProperty("KDSum").GetValue(item, null));
            sumTongSL = sumTongSL + Convert.ToInt32(item.GetType().GetProperty("TongSL").GetValue(item, null));
            truocThue += item.GetType().GetProperty("SLTruocThue").GetValue(item, null);
            VAT += item.GetType().GetProperty("TongVAT").GetValue(item, null);
            PhiNT += item.GetType().GetProperty("TongBVMT").GetValue(item, null);
            TongCong += item.GetType().GetProperty("TongCong").GetValue(item, null);

            <tr>
                <td>@i</td>
                <td>@item.GetType().GetProperty("TenTuyen").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("SH1Sum").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("SH2Sum").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("SH3Sum").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("SH4Sum").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("CCSum").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("HCSum").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("SXSum").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("KDSum").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("TongSL").GetValue(item, null)</td>
                <td>@String.Format("{0:n0}",item.GetType().GetProperty("SLTruocThue").GetValue(item, null))</td>
                <td>@String.Format("{0:n0}",item.GetType().GetProperty("TongVAT").GetValue(item, null))</td>
                <td>@String.Format("{0:n0}",item.GetType().GetProperty("TongBVMT").GetValue(item, null))</td>
                <td>@String.Format("{0:n0}",item.GetType().GetProperty("TongCong").GetValue(item, null))</td>
            </tr>
            i++;
        }

        <tr>
            <td></td>
            <td>Tổng</td>
            <td>@sumSH1</td>
            <td>@sumSH2</td>
            <td>@sumSH3</td>
            <td>@sumSH4</td>
            <td>@sumCC</td>
            <td>@sumHC</td>
            <td>@sumSX</td>
            <td>@sumKDDV</td>
            <td>@sumTongSL</td>
            <td>@String.Format("{0:n0}",truocThue)</td>
            <td>@String.Format("{0:n0}",VAT)</td>
            <td>@String.Format("{0:n0}",PhiNT)</td>
            <td>@String.Format("{0:n0}",TongCong)</td>
        </tr>
    </tbody>
</table>