@{
    ViewBag.Title = "BaoCaoTongHopSanLuong";
    Layout = "~/Views/Shared/BaoCaoKinhDoanh.cshtml";
    var tong = ViewBag.tong as List<HoaDonNuocHaDong.Models.BaoCaoKinhDoanh.BaoCaoTongHopSanLuong>;
    var columnTitle = ViewBag.columnTitle;
}
<style>
    .xulybc {
        margin: 2% 10%;
    }

    .ten {
        font-size: 29px;
        font-weight: bold;
    }

    .loc {
        font-size: 13px;
        font-weight: bold;
    }
</style>
<div class="ten center">Báo cáo tổng hợp sản lượng</div>
<br />
<div class="loc center">Tháng @DateTime.Now.Month - Năm @DateTime.Now.Year</div>

<table class="table table-bordered processedInServer">
    <thead style="text-align:center">
        <tr>
            <th rowspan="2">TT</th>
            <th rowspan="2">@columnTitle</th>
            <th colspan="4">Sinh hoạt</th>
            <th rowspan="2">Công cộng</th>
            <th rowspan="2">Hành chính</th>
            <th rowspan="2">SX-XD</th>
            <th rowspan="2">Kinh doanh</th>
            <th rowspan="2">Tổng sản lượng</th>
            <th colspan="4">Doanh thu</th>
        </tr>
        <tr>
            <th>SH1</th>
            <th>SH2</th>
            <th>SH3</th>
            <th>SH4</th>
            <th>Trước thuế, phí</th>
            <th>Thuế VAT</th>
            <th>Phí NT</th>
            <th>Tổng</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;
        double sumSH1 = 0; double sumHC = 0; double sumTongSL = 0; double TongCong = 0;
        double sumSH2 = 0; double sumCC = 0; double truocThue = 0;
        double sumSH3 = 0; double sumKDDV = 0; double VAT = 0;
        double sumSH4 = 0; double sumSX = 0; double PhiMT = 0;
        }
        @foreach (var item in tong)
        {

            sumSH1 = sumSH1 + Convert.ToInt32(item.SH1Sum);
            sumSH2 = sumSH2 + Convert.ToInt32(item.GetType().GetProperty("SH2Sum").GetValue(item, null));
            sumSH3 = sumSH3 + Convert.ToInt32(item.GetType().GetProperty("SH3Sum").GetValue(item, null));
            sumSH4 = sumSH4 + Convert.ToInt32(item.GetType().GetProperty("SH4Sum").GetValue(item, null));
            sumHC = sumHC + Convert.ToInt32(item.GetType().GetProperty("HCSum").GetValue(item, null));
            sumCC = sumCC + Convert.ToInt32(item.GetType().GetProperty("CCSum").GetValue(item, null));
            sumSX = sumSX + Convert.ToInt32(item.GetType().GetProperty("SXSum").GetValue(item, null));
            sumKDDV = sumKDDV + Convert.ToInt32(item.GetType().GetProperty("KDSum").GetValue(item, null));
            sumTongSL = sumTongSL + Convert.ToInt32(item.GetType().GetProperty("TongSL").GetValue(item, null));
            truocThue += item.SLTruocThue;
            VAT += item.TongVAT;
            PhiMT += item.TongBVMT;
            TongCong += item.TongCong;

            <tr>
                <td>@i</td>
                <td style="width:50% !important">@item.TenTuyen</td>
                <td>@item.SH1Sum</td>
                <td>@item.SH2Sum</td>
                <td>@item.SH3Sum</td>
                <td>@item.SH4Sum</td>
                <td>@item.CCSum</td>
                <td>@item.HCSum</td>
                <td>@item.SXSum</td>
                <td>@item.KDSum</td>
                <td>@item.TongSL</td>
                <td>@String.Format("{0:n0}", item.SLTruocThue)</td>
                <td>@String.Format("{0:n0}", item.TongVAT)</td>
                <td>@String.Format("{0:n0}", item.TongBVMT)</td>
                <td>@String.Format("{0:n0}", item.TongCong)</td>
            </tr>
            i++;
        }

        <tr>
            <td></td>
            <td>Tổng</td>
            <td>@sumSH1</td>
            <td>@sumSH2</td>
            <td>@sumSH3</td>
            <td>@sumSH4</td>
            <td>@sumCC</td>
            <td>@sumHC</td>
            <td>@sumSX</td>
            <td>@sumKDDV</td>
            <td>@sumTongSL</td>
            <td>@String.Format("{0:n0}", truocThue)</td>
            <td>@String.Format("{0:n0}", VAT)</td>
            <td>@String.Format("{0:n0}", PhiMT)</td>
            <td>@String.Format("{0:n0}", TongCong)</td>
        </tr>
    </tbody>
</table>

<script>   

    var table = $(document).ready(function () {
        $('.table').DataTable({
            dom: 'Bfrtip',
            "bFilter": false,
            "bPaginate": false,
            "bSort": false,
            columnDefs:[
                null,
                {width:"10%",targets:0},
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            fixedColumns: true,
            "language": {
                "emptyTable": "Không có dữ liệu"
            },
            buttons: [
                'excelHtml5',
            ],
        });

        //Đổi chữ trong tất cả các báo cáo từ Excel => xuất Excel
        $(".buttons-excel").text("Xuất Excel");
    });
</script>