@using HoaDonNuocHaDong.Models.BaoCaoKinhDoanh;
@{
    ViewBag.Title = "DanhSachKhachHangLoaiGiaTongHop";
    Layout = "~/Views/Shared/BaoCaoKinhDoanh.cshtml";
    DateTime d1 = ViewBag.dt1;
    dynamic d = ViewData["khachHang"];
    HoaDonNuocHaDong.Helper.ApGiaHelper apGia = new HoaDonNuocHaDong.Helper.ApGiaHelper();
}
<style>
    .xulybc {
        min-height: 400px;
        margin: 2% 10%;
    }

    .ten {
        font-size: 25px;
        font-weight: bold;
        margin-left: 20%;
    }

    .loc {
        font-size: 13px;
        font-weight: bold;
        margin: 1% 0 4% 37%;
    }

    .tong {
        margin: 1% 0 0 60%;
    }
</style>
<div class="ten">Danh sách Khách hàng Loại giá tổng hợp</div>
<div class="loc">Tháng @d1.Month năm @d1.Year</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th rowspan="2">TT</th>
            <th rowspan="2">Mã KH</th>
            <th rowspan="2">Họ và Tên</th>
            <th rowspan="2">Địa Chỉ</th>
            <th rowspan="2">Tuyến</th>
            <th rowspan="2">TT đọc</th>
            <th rowspan="2">Cách tính</th>
            <th colspan="5" style="text-align:center">Chi tiết theo giá</th>
        </tr>
        <tr>
            <th>Sinh hoạt</th>
            <th>SXXD</th>
            <th>Hành chính</th>
            <th>Công cộng</th>
            <th>Kinh doanh</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            int j = 1;
        }
        @foreach (var item in d)
        {
            int KHID = Convert.ToInt32(item.GetType().GetProperty("KhachHangID").GetValue(item, null));
            <tr>
                <td>@i</td>
                <td>@item.GetType().GetProperty("MaKH").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("HoTen").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("DiaChi").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("Tuyen").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("TTDoc").GetValue(item, null)</td>
                <td>@item.GetType().GetProperty("CachTinh").GetValue(item, null)</td>
                <td>@apGia.getChiSoApGiaTongHop(KHID, HoaDonNuocHaDong.Helper.KhachHang.SINHHOAT)</td>
                <td>@apGia.getChiSoApGiaTongHop(KHID, HoaDonNuocHaDong.Helper.KhachHang.SANXUAT)</td>
                <td>@apGia.getChiSoApGiaTongHop(KHID, HoaDonNuocHaDong.Helper.KhachHang.COQUANHANHCHINH)</td>
                <td>@apGia.getChiSoApGiaTongHop(KHID, HoaDonNuocHaDong.Helper.KhachHang.DONVISUNGHIEP)</td>
                <td>@apGia.getChiSoApGiaTongHop(KHID, HoaDonNuocHaDong.Helper.KhachHang.KINHDOANHDICHVU)</td>
            </tr>
            j = i;
            i++;
        }
    </tbody>
</table>
<div class="tong"><b>Tổng cộng: @j khách hàng</b></div>