@using HoaDonNuocHaDong.Models.BaoCaoKinhDoanh;
@{
    ViewBag.Title = "DanhSachKhachHangCoSanLuongDotBien";
    Layout = "~/Views/Shared/BaoCaoKinhDoanh.cshtml";
    DateTime d1 = ViewBag.dt1;
}
<style>
    .xulybc {
        min-height: 400px;
        margin: 2% 10%;
    }

    .ten {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

    .loc {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .tong {
        float: right;
    }
</style>
<div class="ten">Danh sách Khách hàng sử dụng nước đột biến</div>
<div class="loc">Tháng @d1.Month năm @d1.Year</div>
@{
    dynamic lst = ViewData["lst"];

}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>TT</th>
            <th>Tuyến</th>
            <th>TT đọc</th>
            <th>Mã KH</th>
            <th>Họ và Tên</th>
            <th>Địa Chỉ</th>
            <th>Sản lượng bình quân 3 tháng trước</th>
            <th>Sản lượng tháng trước</th>
            <th>Chỉ số đầu kỳ</th>
            <th>Chỉ số cuối kỳ</th>
            <th>Sản lượng</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @foreach (var obj in lst)
        {
            <tr>
                <td>@i</td>
                <td>@obj.Tuyen</td>
                <td>@obj.ThuTuDoc</td>
                <td>@obj.MaKhachHang</td>
                <td>@obj.Ten</td>
                <td>@obj.Diachi</td>
                <td>@obj.SanLuongBinhQuan3ThangTruoc</td>
                <td>@obj.SanLuongThangTruoc</td>
                <td>@obj.ChiSoDauKy</td>
                <td>@obj.ChiSoCuoiKy</td>
                <td>@obj.TongSanLuong</td>
            </tr>
            i++;
        }

    </tbody>
</table>
<div class="tong"><b>Tổng cộng: @lst.Count khách hàng</b></div>