@using HoaDonNuocHaDong.Models.BaoCaoKinhDoanh;
@{
    ViewBag.Title = "DanhSachKhachHangTamNgungCapNuoc";
Layout = "~/Views/Shared/BaoCaoKinhDoanh.cshtml";
DateTime d1 = ViewBag.dt1;
DateTime d2 = ViewBag.dt2;
}
<style>
    .xulybc {
        min-height: 400px;
        margin: 2% 10%;
    }

    .ten {
        font-size: 25px;
        font-weight: bold;
        margin-left: 15%;
    }

    .loc {
        font-size: 13px;
        font-weight: bold;
        margin: 1% 0 4% 30%;
    }

    .tong {
        margin: 1% 0 0 60%;
    }
</style>
<div class="ten">Danh sách Khách hàng tạm ngừng cấp nước</div>
<div class="loc">Từ ngày: @d1.Day - @d1.Month - @d1.Year đến ngày: @d2.Day - @d2.Month - @d2.Year</div>
@{
    List<DanhSachKhachHangTamNgungCapNuoc> lst = (List<DanhSachKhachHangTamNgungCapNuoc>)ViewData["lst"];

}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>TT</th>
            <th>Mã tuyến KH</th>
            <th>Mã KH</th>
            <th>Họ và Tên</th>
            <th>Địa Chỉ</th>
            <th>Lý do ngừng cấp nước </th>
            <th>Ngày ngừng</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DanhSachKhachHangTamNgungCapNuoc obj in lst)
        {
        <tr>
            <td>@obj.TT</td>
            <td>@obj.TuyenKHID</td>
            <td>@obj.MaKhachHang</td>
            <td>@obj.Ten</td>
            <td>@obj.Diachi</td>
            <td>@obj.Lydongungcapnuoc</td>
            <td>@String.Format("{0:dd/MM/yyyy}",obj.Ngayngung)</td>
            <td>@obj.Ghichu</td>
        </tr>
        }
    </tbody>
</table>
<div class="tong"><b>Tổng cộng: @lst.Count khách hàng</b></div>
