@{
    ViewBag.Title = "XuLyBaoCaoTongHopSanLuong";
    var tuyens = ViewData["tuyens"] as List<Tuyenkhachhang>;
    var xiNghieps = ViewData["xinghieps"] as List<Quanhuyen>;
}

<style>
    hr {
        height: 3px;
    }
</style>
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="row" style="margin-left:4%">
    <!-- /span6 -->
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Tùy chọn báo cáo tổng hợp sản lượng</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <!-- Theo tuyến ống kĩ thuật-->
                @using (Html.BeginForm("BaoCaoTongHopSanLuong", "BaoCaoKinhDoanh", new { type = 0 }))
                {
                    <div class="xulybc">
                        @Html.Partial("FormThangNam")
                        <label>Tuyến ống:</label>
                        <input type="submit" class="btn btn-success" value="Xuất báo cáo" />
                    </div>
                }
                <hr />
                <!-- Tuyến khách hàng -->
                <!-- Theo tuyến ống kĩ thuật type = 1-->
                @using (Html.BeginForm("BaoCaoTongHopSanLuong", "BaoCaoKinhDoanh", new { type = 1 }))
                {

                    <div class="xulybc">
                        @Html.Partial("FormThangNam")
                        <label>Tuyến khách hàng:</label>
                        <select name="tuyen" class="dropdown tuyen" style="width:100%" multiple>
                            @foreach (var tuyen in tuyens)
                            {
                                <option value="@tuyen.TuyenKHID">@tuyen.Matuyen - @tuyen.Ten</option>
                            }

                        </select>
                        <br/><br/>
                        <input type="submit" class="btn btn-success" value="Xuất báo cáo">
                    </div>
                }
                <hr />
                <!-- Theo nhân viên type = 2-->
                @using (Html.BeginForm("BaoCaoTongHopSanLuong", "BaoCaoKinhDoanh", new { type = 2 }))
                {
                    <div class="xulybc">
                        @Html.Partial("FormThangNam")
                        <label>Nhân viên:</label>
                        <input type="submit" class="btn btn-success" value="Xuất báo cáo">
                    </div>
                }
                <hr />
                <!-- Theo tổ-->
                @using (Html.BeginForm("BaoCaoTongHopSanLuong", "BaoCaoKinhDoanh", new { type = 3 }))
                {
                    <div class="xulybc">
                        @Html.Partial("FormThangNam")
                        <label>Xí nghiệp quản lí:</label>
                        <select name="xinghiep" class="dropdown quan" multiple style="width:100%">
                            @foreach (var xinghiep in xiNghieps)
                            {
                             <option value="@xinghiep.QuanhuyenID">@xinghiep.Ten</option>   
                            }                               
                        </select>
                        <br/><br/>
                        <input type="submit" class="btn btn-success" value="Xuất báo cáo">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .xulybc {
        min-height: 0px !important;
    }
</style>