@{
    ViewBag.Title = "Danh sách khách hàng có sản lượng không bình thường";
    var kH = ViewBag.khachHangBatThuong as List<HoaDonNuocHaDong.Models.SoLieuTieuThu.DanhSachKhachHangCoSanLuongBatThuong>;
    var tenTuyen = ViewBag.tenTuyen;
    int year = ViewBag.year;
    int month = ViewBag.month;
    //tuyến
    var tuyenTheoNhanVien = ViewBag.tuyenTheoNhanVien;
    //show hóa đơn hay không
    var receiptIsShown = ViewBag.showHoaDon;
    //tuyến đc chọn
    var selectedTuyen = ViewBag.selectedTuyen;
    //áp giá đặc biệt class
    HoaDonNuocHaDong.Helper.ApGiaHelper helper = new HoaDonNuocHaDong.Helper.ApGiaHelper();
    var currentDate = ViewBag.currentDate;
    var nextMonth = ViewBag.nextMonth;
    var selectedNhanvien = ViewBag.selectedNhanvien;
    Nhanvien nhanVienObj = ViewData["nhanVienObj"] as Nhanvien;
    Tuyenkhachhang tuyenObj = ViewData["tuyenObj"] as Tuyenkhachhang;
    //Query string
    int nVQuanLi = Convert.ToInt32(Request.QueryString["nhanvienInt"]);
    int tuyenID = Convert.ToInt32(Request.QueryString["tuyenID"]);
    var toID = Request.QueryString["toID"];
    HoaDonHaDong.Helper.ChiSo cS = new HoaDonHaDong.Helper.ChiSo();
    HoaDonNuocHaDong.Helper.KiemDinh kiemDinh = new HoaDonNuocHaDong.Helper.KiemDinh();
}

<script src="~/Assets/js/jquery.dataTables.min.js"></script>
<script src="~/Assets/js/dataTables.fixedHeader.min.js"></script>
<link rel="stylesheet" href="~/Assets/css/fixedHeader.dataTables.min.css" />

<div class="main">
    <div class="main-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="widget ">
                    <div class="widget-header">
                        <i class="icon-user"></i>
                        <h3>Danh sách khách hàng có sản lượng không bình thường</h3>
                    </div> <!-- /widget-header -->

                    <div class="widget-content">
                        <div class="form-actions">
                            <form action="/Solieutieuthu/chotSoLieu?toID=@Request.QueryString["toID"]&tuyenID=@Request.QueryString["tuyenID"]&month=@Request.QueryString["month"]&year=@Request.QueryString["year"]" method="post">
                                <button type="button" onclick="location.href='@Url.Action("ViewDetail", new { toID=Request.QueryString["toID"], tuyenID = tuyenID,month = month,year = year, nvquanly = nVQuanLi })'" class="btn btn-success">Trở lại</button>
                                <button type="button" id="chotSoLieu" class="btn btn-primary">Chốt số liệu</button>
                            </form>
                        </div> <!-- /form-actions -->
                        <!-- Hidden field value -->
                        <input type="hidden" name="thang" value='@Request.QueryString["month"]' />
                        <input type="hidden" name="nam" value='@Request.QueryString["year"]' />
                        <!-- End hidden field -->
                        <div class="outerTable">
                            <table class="table table-bordered hoaDonNuoc">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Mã khách hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Số hộ</th>
                                        <th>Số khẩu</th>
                                        <th>TT đọc</th>
                                        <th>Bắt đầu (d/m/y)</th>
                                        <th>Kết thúc(d/m/y)</th>
                                        <th>Chỉ số cũ</th>
                                        <th>Chỉ số mới</th>
                                        <th>Sản lượng</th>
                                        <th>Số khoán</th>
                                        <th>Kiểm định</th>
                                        <th data-toggle="tooltip" data-placement="top" title="Màu đỏ là danh sách những khách hàng có áp giá đặc biệt trong tháng này">Hướng dẫn</th>
                                    </tr>
                                    <tr>
                                        <td colspan="10"><b>(@tuyenObj.Matuyen - @tuyenObj.Ten) - (@nhanVienObj.MaNhanVien - @nhanVienObj.Ten) - (@month / @year)</b></td>
                                        <td colspan="4">Ngày kết thúc: <input type="text" class="endDateFixedTop"></td>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        int i = 1;
                                        int nextMonthReceiptNumber = month + 1 == 13 ? 1 : month + 1;
                                        int nextYearReceiptNumber = month + 1 == 13 ? year + 1 : year;
                                        HoaDonHaDongEntities db = new HoaDonHaDongEntities();
                                    }
                                    @foreach (var item in kH)
                                    {
                                        int sohoaDonDanhSachKhongBinhThuong = cS.getSoHoaDonTrongDanhSachKhongBinhThuong(month, year, tuyenID, item.HoaDonNuocID);
                                        int hoaDonID = Convert.ToInt32(item.HoaDonNuocID);
                                        
                                        Hoadonnuoc thisMonthReceipt = db.Hoadonnuocs.FirstOrDefault(p => p.KhachhangID == item.KhachHangID && p.ThangHoaDon == month && p.NamHoaDon == year);
                                        Hoadonnuoc nextMonthReceipt = db.Hoadonnuocs.FirstOrDefault(p => p.KhachhangID == item.KhachHangID && p.ThangHoaDon == nextMonthReceiptNumber && p.NamHoaDon == nextYearReceiptNumber);
                                        String cssClass = "";
                                        cssClass = item.SanLuong.GetValueOrDefault() < 0 ? "hasSanLuongAm" : "" ;


                                        <tr class="@cssClass">
                                            <!-- Accessing property of anonymous type of object-->
                                            <td>@i</td>
                                            <td>@item.MaKhachHang</td>
                                            <td>@item.TenKhachHang</td>
                                            <td>@item.SoHo</td>
                                            <td>@item.SoKhau</td>
                                            <td><input type="text" readonly data-hoadonid="@item.HoaDonNuocID" name="thuTuDoc" style="width:70px" value="@item.GetType().GetProperty("ThuTuDoc").GetValue(item, null)" /></td>
                                            <!-- Bắt đầu -->
                                            @if (thisMonthReceipt.Ngaybatdausudung != null)
                                            {
                                                <td class="startDate">
                                                    <input type="hidden" class="hasNgayBatDau" data-hoadonid="@item.HoaDonNuocID" value="1" />
                                                    <input type="text" style="width:90%" name="startDate"
                                                           value="@String.Format("{0:dd/MM/yyyy}",thisMonthReceipt.Ngaybatdausudung)"
                                                           data-hoadonid="@item.HoaDonNuocID" readonly />
                                                </td>
                                            }
                                            else
                                            {
                                                var khachHangData = db.Khachhangs.Find(thisMonthReceipt.KhachhangID);

                                                <td class="startDate">
                                                    <input type="hidden" class="hasNgayBatDau" data-hoadonid="@item.HoaDonNuocID" value="0" />
                                                    <input type="text" style="width:90%" name="startDate" data-hoadonid="@item.HoaDonNuocID" readonly
                                                           value="@String.Format("{0:dd/MM/yyyy}",khachHangData.Ngaykyhopdong)" />
                                                </td>
                                            }
                                            <!-- Kết thúc -->
                                            <td class="endDate">
                                                @if (nextMonthReceipt != null)
                                                {
                                                    if (!cS.isChotHoaDon(hoaDonID))
                                                    {
                                                        <input type="text" style="width:90%" name="endDate" data-khid="@item.KhachHangID"
                                                               value="@String.Format("{0:dd/MM/yyyy}", nextMonthReceipt.Ngaybatdausudung)"
                                                               data-hoadonid="@item.HoaDonNuocID" />
                                                    }
                                                    else
                                                    {
                                                        <input class="disabledEndDate" type="text" style="width:90%" name="endDate" data-khid="@item.KhachHangID"
                                                               value="@String.Format("{0:dd/MM/yyyy}", nextMonthReceipt.Ngaybatdausudung)"
                                                               data-hoadonid="@item.HoaDonNuocID" />
                                                    }
                                                }
                                                else
                                                {
                                                    if (!cS.isChotHoaDon(hoaDonID))
                                                    {
                                                        <input type="text" style="width:90%" name="endDate"
                                                               data-khid="@item.KhachHangID"
                                                               data-hoadonid="@item.HoaDonNuocID" />
                                                    }
                                                    else
                                                    {
                                                        <input class="disabledEndDate" type="text" style="width:90%" name="endDate"
                                                               data-khid="@item.KhachHangID"
                                                               data-hoadonid="@item.HoaDonNuocID" disabled />
                                                    }
                                                }
                                            </td>


                                            <td><input type="text" style="width:60px" value="@item.ChiSoCu" readonly /></td>
                                            <td><input class="negNumber" min="0" placeholder="@item.ChiSoMoi" name="chiSoMoi" data-sohoadon="@sohoaDonDanhSachKhongBinhThuong" data-khid="@item.KhachHangID" id="@i.ToString()" data-hoadonid="@item.HoaDonNuocID" style="width:80px"></td>
                                            <td><input type="text" data-sohoadon="" style="width:60px" name="sanLuong" readonly value="@item.SanLuong" /></td>
                                            <!-- so khoán -->
                                            <td><input data-khid="@item.KhachHangID" data-hoadonid="@item.HoaDonNuocID" name="soKhoan" style="width:80px" placeholder="0" value="@item.SoKhoan" /></td>
                                            <td>
                                                @if (kiemDinh.checkKiemDinhStatus(item.KhachHangID, month, year))
                                                {
                                                    <input type="checkbox" class="toggle" checked="checked" disabled data-truockd="@kiemDinh.getChiSoLucKiemDinh(item.KhachHangID,month,year)"
                                                           data-saukd="@kiemDinh.getChiSoSauKiemDinh(item.KhachHangID,month,year)" />
                                                    //thêm arrow nếu có kiểm định
                                                    <button data-trid="details-@i" type="button" data-khid="@item.KhachHangID" data-month="@month" data-year="@year"
                                                            title="Xem chi tiết kiểm định" class="btn btn-default dropdown-toggle xemChiTietKD">
                                                        <span class="caret"></span> <span class="sr-only"></span>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="toggle" disabled />
                                                }
                                            </td>
                                            <td>
                                                <!-- Áp giá đặc biệt -->
                                                @if (helper.isApGiaDacBiet(item.HoaDonNuocID) > 0)
                                                {                                                                                                                                                               
                                                    <a href="@Url.Action("Apgiadacbiet", "Solieutieuthu", new { @id = item.HoaDonNuocID, @month = month, @year = year, to = toID,
                                                            nhanvien=nVQuanLi,tuyen = tuyenID,sohoadon = sohoaDonDanhSachKhongBinhThuong})" style="color:red">Áp giá đặc biệt</a>                                             
                                                }
                                                else
                                                {
                                                     <a href="@Url.Action("Apgiadacbiet", "Solieutieuthu", new { @id = item.HoaDonNuocID, @month = month, @year = year, to = toID,
                                                            nhanvien=nVQuanLi,tuyen = tuyenID,sohoadon = sohoaDonDanhSachKhongBinhThuong})">Áp giá đặc biệt</a>
                                                }
                                            </td>
                                        </tr>
                                                i++;
                                    }
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td colspan="14"><b>(@tuyenObj.Matuyen - @tuyenObj.Ten) - (@nhanVienObj.MaNhanVien - @nhanVienObj.Ten) - (@month / @year)</b></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <!--end table-->
                        </div>
                        <input type="hidden" name="endDateHolder" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        //chốt số liệu khi ấn vào nút chốt số liệu
        $("#chotSoLieu").click(function () {
            var hasSanLuongAmHtml = $("tr").hasClass('hasSanLuongAm');
            if (hasSanLuongAmHtml) {
                alert('Không chốt được sản lượng âm, xin hãy kiểm tra lại');
            } else {
                xacnhanChotSoLieu = confirm("Nếu xác nhận, chỉ số sẽ không chỉnh sửa được nữa, bạn có chắc chắn muốn chốt số liệu không");
                if (xacnhanChotSoLieu) {
                    this.form.submit();
                }
            }

        }); //chốt số liệu
    });
</script>