@{
    ViewBag.Title = "Danh sách khách hàng có sản lượng không bình thường";
    var kH = ViewBag.khachHang as List<HoaDonNuocHaDong.Models.SoLieuTieuThu.HoaDonNuoc>;
    var tenTuyen = ViewBag.tenTuyen;
    int year = ViewBag.year;
    int month = ViewBag.month;
    //tuyến
    String[] tuyenIDSession = Session["tuyenID"].ToString().Split(',');
    var tuyenTheoNhanVien = ViewBag.tuyenTheoNhanVien;
    //show hóa đơn hay không
    var receiptIsShown = ViewBag.showHoaDon;
    //tuyến đc chọn
    var selectedTuyen = ViewBag.selectedTuyen;
    //áp giá đặc biệt class
    HoaDonNuocHaDong.Helper.ApGiaHelper helper = new HoaDonNuocHaDong.Helper.ApGiaHelper();
    var currentDate = ViewBag.currentDate;
    var nextMonth = ViewBag.nextMonth;
    var selectedNhanvien = ViewBag.selectedNhanvien;
    Nhanvien nhanVienObj = ViewData["nhanVienObj"] as Nhanvien;
    Tuyenkhachhang tuyenObj = ViewData["tuyenObj"] as Tuyenkhachhang;
    //Query string
    int nVQuanLi = Convert.ToInt32(Request.QueryString["nhanvienInt"]);
    int tuyenID = Convert.ToInt32(Request.QueryString["tuyenID"]);
}

<script src="~/Assets/js/jquery.dataTables.min.js"></script>
<script src="~/Assets/js/dataTables.fixedHeader.min.js"></script>
<link rel="stylesheet" href="~/Assets/css/fixedHeader.dataTables.min.css" />

<div class="main">
    <div class="main-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="widget ">
                    <div class="widget-header">
                        <i class="icon-user"></i>
                        <h3>Danh sách khách hàng có sản lượng không bình thường</h3>
                    </div> <!-- /widget-header -->

                    <div class="widget-content">
                        <div class="form-actions">
                            <form action="/Solieutieuthu/chotSoLieu?tuyenID=@Request.QueryString["tuyenID"]&month=@Request.QueryString["month"]&year=@Request.QueryString["year"]" method="post">
                                <button type="button" onclick="location.href='@Url.Action("ViewDetail", new { tuyenID = tuyenID,month = month,year = year, nvquanly = nVQuanLi })'" class="btn btn-success">Trở lại</button>
                                <button type="button" id="chotSoLieu" class="btn btn-primary">Chốt số liệu</button>
                            </form>
                        </div> <!-- /form-actions -->
                        <!-- Hidden field value -->
                        <input type="hidden" name="thang" value='@Request.QueryString["month"]' />
                        <input type="hidden" name="nam" value='@Request.QueryString["year"]' />
                        <!-- End hidden field -->
                        <div class="outerTable">
                            <table class="table table-bordered hoaDonNuoc">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Mã khách hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Số hộ</th>
                                        <th>Số khẩu</th>
                                        <th>TT đọc</th>
                                        <th>Bắt đầu (d/m/y)</th>
                                        <th>Kết thúc(d/m/y)</th>
                                        <th>Chỉ số cũ</th>
                                        <th>Chỉ số mới</th>
                                        <th>Sản lượng</th>
                                        <th>Số khoán</th>
                                        <th>Kiểm định</th>
                                        <th data-toggle="tooltip" data-placement="top" title="Màu đỏ là danh sách những khách hàng có áp giá đặc biệt trong tháng này">Hướng dẫn</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in kH)
                                    {
                                        <tr>
                                            @{
                                        HoaDonHaDongEntities db = new HoaDonHaDongEntities();
                                        int hoaDonID = Convert.ToInt32(item.HoaDonNuocID);
                                        Lichsuhoadon ls = db.Lichsuhoadons.FirstOrDefault(p => p.HoaDonID == hoaDonID);
                                        String[] soHoaDon = item.SoHoaDon.Split('-');
                                        String soHoaDonTrimmed = soHoaDon[1].ToString().Trim();
                                            }
                                            <!-- Accessing property of anonymous type of object-->
                                            <td>@i</td>
                                            <td>@item.MaKhachHang</td>
                                            <td>@item.TenKhachHang</td>
                                            <td>@item.SoHo</td>
                                            <td>@item.SoKhau</td>
                                            <td><input type="text" readonly data-hoadonid="@item.HoaDonNuocID" name="thuTuDoc" style="width:70px" value="@item.GetType().GetProperty("ThuTuDoc").GetValue(item, null)" /></td>
                                            <!-- Bắt đầu -->
                                            @if (ls == null)
                                            {
                                                <td class="startDate"><input type="text" readonly style="width:80%" name="startDate" value="@currentDate" data-hoadonid="@item.HoaDonNuocID" /></td>
                                                <td class="endDate"><input type="text" style="width:80%" name="endDate" value="@nextMonth" data-hoadonid="@item.HoaDonNuocID" /></td>
                                            }
                                            else
                                            {
                                                <td class="startDate"><input type="text" readonly style="width:80%" name="startDate" value="@ls.NgayBatDau" data-hoadonid="@item.HoaDonNuocID" /></td>
                                                <td class="endDate"><input type="text" style="width:80%" name="endDate" value="@ls.NgayKetThuc" data-hoadonid="@item.HoaDonNuocID" /></td>
                                            }
                                            <!-- Kết thúc -->
                                            <td><input type="text" style="width:60px" value="@item.ChiSoCu" readonly /></td>
                                            <td><input type="number" class="negNumber" min="0" placeholder="@item.ChiSoMoi" name="chiSoMoi" data-sohoadon="@soHoaDonTrimmed" data-khid="@item.KhachHangID" id="@i.ToString()" data-hoadonid="@item.HoaDonNuocID" style="width:80px"></td>
                                            <td><input type="text" data-sohoadon="" style="width:60px" name="sanLuong" readonly value="@item.SanLuong" /></td>
                                            <td><input type="number" data-khid="@item.KhachHangID" data-hoadonid="@item.HoaDonNuocID" name="soKhoan" style="width:80px" placeholder="0" /></td>
                                            <td>
                                                @if (HoaDonNuocHaDong.Helper.KiemDinh.checkKiemDinhStatus(item.KhachHangID, month, year))
                                                {
                                                    <input type="checkbox" class="toggle" checked="checked" disabled data-truockd="@HoaDonNuocHaDong.Helper.KiemDinh.getChiSoLucKiemDinh(item.KhachHangID,month,year)"
                                                           data-saukd="@HoaDonNuocHaDong.Helper.KiemDinh.getChiSoSauKiemDinh(item.KhachHangID,month,year)" />
                                                    //thêm arrow nếu có kiểm định
                                                    <button data-trid="details-@i" type="button" data-khid="@item.KhachHangID" data-month="@month" data-year="@year"
                                                            title="Xem chi tiết kiểm định" class="btn btn-default dropdown-toggle xemChiTietKD">
                                                        <span class="caret"></span> <span class="sr-only"></span>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="toggle" disabled />
                                                }
                                            </td>
                                            <td>
                                                <!-- Áp giá đặc biệt -->
                                                @if (helper.isApGiaDacBiet(item.HoaDonNuocID) > 0)
                                                {

                                                    <a href="@Url.Action("Apgiadacbiet", "Solieutieuthu", new { @id = item.HoaDonNuocID, @month = month, @year = year})" style="color:red">Áp giá đặc biệt</a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Apgiadacbiet", "Solieutieuthu", new { @id = item.HoaDonNuocID, @month = month, @year = year })">Áp giá đặc biệt</a>
                                                }
                                            </td>
                                        </tr>
                                            <!-- Phần phụ để hiển thị thông tin kiểm định, không phải lúc nào cũng hiện ra, sử dụng ajax để load -->
                                                i++;
                                    }
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td colspan="14"><b>(@tuyenObj.Matuyen - @tuyenObj.Ten) - (@nhanVienObj.MaNhanVien - @nhanVienObj.Ten) - (@month / @year)</b></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <!--end table-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        //chốt số liệu khi ấn vào nút chốt số liệu
        $("#chotSoLieu").click(function () {
            var secondConfirm = confirm("Nếu xác nhận, chỉ số sẽ không chỉnh sửa được nữa, bạn có chắc chắn muốn chốt số liệu không");
            if (secondConfirm) {
                this.form.submit();
            }
        }); //chốt số liệu
    });
</script>