@{
    ViewBag.Title = "Xem chi tiết chỉ số của khách hàng";

    var chiSoTieuThu = ViewBag.chiSoTieuThu as List<HoaDonNuocHaDong.Models.SoLieuTieuThu.HoaDonNuoc>;
    int soLuongHoaDonChuaChot = ViewBag.trangthaiChotTuyen;
    int tongSoLuongHoaDon = ViewBag.soLuongHoaDon;
    int soHoaDonCoSanLuong = ViewBag.soLuongHoaDonCoSanLuong;
    int soHoaDonKhongCoSanLuong = ViewBag.soLuongHoaDonKhongCoSanLuong;
    int adminVaTruongPhong = ViewBag.isAdminHoacTruongPhong;
    Tuyenkhachhang tuyenKH = ViewData["tuyen"] as Tuyenkhachhang;
    Nhanvien nV = ViewData["nhanvien"] as Nhanvien;
    HoaDonHaDong.Helper.ChiSo cS = new HoaDonHaDong.Helper.ChiSo();
    //khởi tạo 1 kết nối tới CSDL
    HoaDonHaDongEntities db = new HoaDonHaDongEntities();
    HoaDonNuocHaDong.Helper.HoaDonNuoc hoaDonNuoc = new HoaDonNuocHaDong.Helper.HoaDonNuoc();
    HoaDonNuocHaDong.Controllers.NhanvienController nhanVienController = new HoaDonNuocHaDong.Controllers.NhanvienController();
    int soLuongHoaDonBatThuong = ViewBag.soLuongKhongBinhThuong;
}

@{
    String toID = Request.QueryString["toID"];
    String month = Request.QueryString["month"];
    String year = Request.QueryString["year"];
    String tuyenID = Request.QueryString["tuyenID"];
    String nhanVienId = Request.QueryString["nvquanly"];
}

@section Styles {
    <link rel="stylesheet" href="~/Assets/css/fixedHeader.dataTables.min.css" />
    <!-- Khu vực toggle cột tắt bật -->
    <style>
        .clicked {
            color: red;
        }

        tbody, input, label {
            font-size: 15px;
            font-family: Arial;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 10px 10px !important;
        }

        form {
            display: inline;
        }
    </style>
}


<div class="main">
    <div class="main-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="widget ">
                    <div class="widget-header">
                        <i class="icon-user"></i>
                        <h3>Chỉ số chi tiết của tuyến @tuyenKH.Ten</h3>
                    </div> <!-- /widget-header -->

                    <div class="widget-content">

                        <!-- Hướng dẫn tìm kiếm-->
                        <div class="huongDan">
                            <div class="pull-left">
                                <p>Click vào tên khách hàng để tiến hành cập nhật thông tin nhanh, click vào mã khách hàng để xem chỉ số từng tháng</p>
                                <p>Sau khi chỉnh sửa xong, ấn F5 để cập nhật lại</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        @Html.Partial("_SoLieuTieuThuChuThich")

                    </div>
                    <!--Tắt bật cột-->
                    <div class="form-actions">

                        <div class="pull-left">
                            Tắt bật cột (Màu đỏ là cột được ẩn):
                            <a class="toggle-vis" data-column="0">MãKH</a>
                            - <a class="toggle-vis" data-column="1">TênKH</a>
                            - <a class="toggle-vis" data-column="2">TTDoc</a>
                            - <a class="toggle-vis" data-column="3">Số hộ</a>
                            - <a class="toggle-vis" data-column="4">Số khẩu</a>
                            - <a class="toggle-vis" data-column="5">Loại giá</a>
                            - <a class="toggle-vis" data-column="6">Chỉ số cũ</a>
                            - <a class="toggle-vis" data-column="7">Chỉ số mới</a>
                            - <a class="toggle-vis" data-column="8">Số khoán</a>
                            - <a class="toggle-vis" data-column="9">Sản lượng</a>
                        </div>
                        <div class="pull-right">
                                <p class="pull-right">Tổng số: <span>@tongSoLuongHoaDon</span> hóa đơn (@soHoaDonCoSanLuong:có sản lượng - @soHoaDonKhongCoSanLuong:không có sản lượng)</p>
                            </div>
                    </div>
                    <!--Hết tắt bật cột-->
                    @{

                        double sumSanLuong = 0; double sumSH1 = 0; double sumSH2 = 0; double sumSH3 = 0; double sumSH4 = 0;
                        double sumHC = 0; double sumCC = 0; double sumSX = 0; double sumKD = 0;
                    }
                    <table class="table table-bordered hoaDonNuoc">
                        <thead>
                            <tr>
                                <th style="width:70px;font-size:13px">Mã KH</th>
                                <th style="width:240px;font-size:13px">Tên KH</th>
                                <th>TT Đọc</th>
                                <th style="font-size:13px">Số hộ</th>
                                <th style="font-size:13px">Số khẩu</th>
                                <th style="font-size:13px">Loại giá</th>
                                <th style="width:50px;font-size:13px">CS cũ</th>
                                <th style="font-size:13px">CS mới</th>
                                <th style="font-size:13px">Khoán</th>
                                <th style="font-size:13px">Sản lượng</th>
                                <th style="font-size:13px">SH1</th>
                                <th style="font-size:13px">SH2</th>
                                <th style="font-size:13px">SH3</th>
                                <th style="font-size:13px">SH4</th>
                                <th style="font-size:13px">HC</th>
                                <th style="font-size:13px">CC</th>
                                <th style="font-size:13px">SXXD</th>
                                <th style="font-size:13px">KDDV</th>
                            </tr>
                            <!-- Dòng 2 fixed cột -->
                            <tr>
                                <th colspan="18" style="font-size:15px">
                                    <span class="pull-left">(@tuyenKH.Matuyen-@tuyenKH.Ten) - (@nV.MaNhanVien - @nV.Ten) - (@Request.QueryString["month"] / @Request.QueryString["year"])</span>

                                    <div class="pull-right">
                                        <form action="/solieutieuthu?isback=1" method="post">
                                            <input type="hidden" name="to" value="@toID" />
                                            <input type="hidden" name="thang" value="@month" />
                                            <input type="hidden" name="nam" value="@year" />
                                            <input type="hidden" name="tuyen" value="@tuyenID" />
                                            <input type="hidden" name="nhanvien" value="@nhanVienId" />
                                            <button type="submit" class="btn btn-success">Trở lại</button>
                                        </form>

                                        <form action="/Solieutieuthu/chotSoLieu?toID=@toID&tuyenID=@tuyenID&month=@month&year=@year" method="post">
                                            <!-- Nếu là admin hoặc số lượng chưa chốt > 0-->
                                            @if (adminVaTruongPhong == 0 || adminVaTruongPhong == HoaDonNuocHaDong.Helper.ChucVuHelper.TRUONGPHONG || soLuongHoaDonChuaChot > 0)
                                            {
                                                <button type="button" id="chotSoLieu" class="btn btn-primary">Chốt số liệu</button>
                                            }
                                        </form>
                                    </div>

                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Bảng chi tiết hóa đơn -->
                            @foreach (var item in chiSoTieuThu)
                            {
                                int hoaDonID = item.HoaDonNuocID;
                                int khachHangIDRow = item.KhachHangID;
                                String SH1 = item.SH1 == "0" ? "" : item.SH1;
                                String SH2 = item.SH2 == "0" ? "" : item.SH2;
                                String SH3 = item.SH3 == "0" ? "" : item.SH3;
                                String SH4 = item.SH4 == "0" ? "" : item.SH4;
                                String HC = item.HC == "0" ? "" : item.HC;
                                String CC = item.CC == "0" ? "" : item.CC;
                                String SX = item.SXXD == "0" ? "" : item.SXXD;
                                String KD = item.KDDV == "0" ? "" : item.KDDV;
                                //kiểm tra áp giá đặc biệt
                                bool isDacBiet = cS.isDacBiet(hoaDonID, Request.QueryString["month"], Request.QueryString["year"]);

                                //kiểm tra trong bảng giá đặc biệt, nếu có thì cho background màu vàng ở dòng, nếu không có giá đặc biệt thì hiển thị chữ viết tắt
                                String loaiGiaVietTat = item.LoaiApGiaID == HoaDonNuocHaDong.Helper.KhachHang.SINHHOAT ? "SH" :
                                    item.LoaiApGiaID == HoaDonNuocHaDong.Helper.KhachHang.KINHDOANHDICHVU ? "KD" :
                                    item.LoaiApGiaID == HoaDonNuocHaDong.Helper.KhachHang.SANXUAT ? "SX" :
                                    item.LoaiApGiaID == HoaDonNuocHaDong.Helper.KhachHang.COQUANHANHCHINH ? "HC" :
                                item.LoaiApGiaID == HoaDonNuocHaDong.Helper.KhachHang.DONVISUNGHIEP ? "CC" : "TH";

                                String cssClass = hoaDonNuoc.getCssClassTinhTrangHoaDonBiHuy(item.HoaDonNuocID);
                                bool vanDangSuDungNuoc = item.NgayNgungCapNuoc == new DateTime(1, 1, 1) && item.NgayCapNuocLai == new DateTime(1, 1, 1);
                                bool isCapNuocLai = item.NgayCapNuocLai != new DateTime(1, 1, 1) && item.NgayCapNuocLai <= DateTime.Now;
                                cssClass += (vanDangSuDungNuoc || isCapNuocLai) ? "" : "catnuocBackgroundCss";

                                <tr @{ String _class = ""; if (isDacBiet == true) { _class = "traverse dacbiet " + item.LoaiApGiaID; } else { _class = "traverse " + item.LoaiApGiaID; } } class="@_class @cssClass">

                                    <td><a target="_blank" style="color:blue" href="@Url.Action("ViewDetail", "Khachhang", new { id = khachHangIDRow })">@item.MaKhachHang</a></td>
                                    <td>
                                        <a target="_blank" class="solieutieuthu" href="@Url.Action("Edit", "Khachhang", new { id=khachHangIDRow,
                                                                                toID = Request.QueryString["toID"],
                                                                                nhanvienIDUrl = Request.QueryString["nvquanly"],
                                                                                tuyenIDUrl = Request.QueryString["tuyenID"],
                                                                                thang = Request.QueryString["month"],
                                                                                nam = Request.QueryString["year"],
                                                                                ttdoc = @item.ThuTuDoc,
                                                                                referrer = "viewdetail"})">@item.TenKhachHang</a>
                                                                            </td>
                                                                            <td><label>@item.ThuTuDoc</label></td>
                                                                            <td><label>@item.SoHo</label></td>
                                                                            <td><label>@item.SoKhau</label></td>
                                                                            <td><label>@loaiGiaVietTat</label></td>
                                                                            <td><label>@item.ChiSoCu</label></td>
                                                                            <td><label>@item.ChiSoMoi</label></td>
                                                                            <td><label>@item.SoKhoan</label></td>
                                                                            <!-- Nếu chỉ số sản lượng != chỉ số mới - chỉ số cũ thì hiện chữ màu đỏ-->
                                                                            <td>
                                                                                <input class="sanLuong" data-khachhangid="@item.KhachHangID"
                                                                                       style="color:red;width:80%;font-size:15px" value="@item.SanLuong"
                                                                                       data-month="@item.Thang"
                                                                                       data-year="@item.Nam" />
                                                                            </td>
                                                                            <td style="color:blue"><label>@SH1</label></td>
                                                                            <td style="color:blue"><label>@SH2</label></td>
                                                                            <td style="color:blue"><label>@SH3</label></td>
                                                                            <td style="color:blue"><label>@SH4</label></td>
                                                                            <td style="color:blue"><label>@HC</label></td>
                                                                            <td style="color:blue"><label>@CC</label></td>
                                                                            <td style="color:blue"><label>@SX</label></td>
                                                                            <td style="color:blue"><label>@KD</label></td>
                                                                        </tr>

                 sumSanLuong += item.SanLuong == null ? 0 : (double)item.SanLuong;
                 sumSH1 += item.SH1 == "" ? 0.0 : Convert.ToDouble(item.SH1);
                 sumSH2 += item.SH2 == "" ? 0.0 : Convert.ToDouble(item.SH2);
                 sumSH3 += item.SH3 == "" ? 0 : Convert.ToDouble(item.SH3);
                 sumSH4 += item.SH4 == "" ? 0 : Convert.ToDouble(item.SH4);
                 sumHC += item.HC == "" ? 0 : Convert.ToDouble(item.HC);
                 sumCC += item.CC == "" ? 0 : Convert.ToDouble(item.CC);
                 sumSX += item.SXXD == "" ? 0 : Convert.ToDouble(item.SXXD);
                 sumKD += item.KDDV == "" ? 0 : Convert.ToDouble(item.KDDV);

                            }
                            <!-- End table -->
                        </tbody>
                        <tfoot>
                            <tr role="row">
                                <td colspan="9" class="cachTinhGia" style="font-size:15px"></td>
                                <td style="color:red;font-size:16px">@sumSanLuong</td>
                                <td style="color:blue;font-size:16px">@sumSH1</td>
                                <td style="color:blue;font-size:16px">@sumSH2</td>
                                <td style="color:blue;font-size:16px">@sumSH3</td>
                                <td style="color:blue;font-size:16px">@sumSH4</td>
                                <td style="color:blue;font-size:16px">@sumHC</td>
                                <td style="color:blue;font-size:16px">@sumCC</td>
                                <td style="color:blue;font-size:16px">@sumSX</td>
                                <td style="color:blue;font-size:16px">@sumKD</td>
                            </tr>
                        </tfoot>
                    </table>

                </div> <!-- /widget-content -->

            </div> <!-- /widget -->
        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /main-inner -->
<!-- Script để đối màu dòng trong trường hợp áp giá tổng hợp và đặc biệt -->
@section Scripts{
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/dataTables.fixedHeader.min.js"></script>

    <script type="text/javascript">
        $(function () {

            //chốt số liệu khi ấn vào nút chốt số liệu
            $("#chotSoLieu").click(function () {


                @if (soLuongHoaDonBatThuong > 0)
            {
                <text>
                var isConfirmed = confirm("Danh sách này có khách hàng có sản lượng không bình thường. Bạn có muốn chỉnh sửa không?. ");
                //nếu muốn chỉnh sửa sản lượng không BT thì load trang load không bình thường
                if (isConfirmed) {
                    window.open("/solieutieuthu/loadkhongbt?toID=@toID&tuyenID=@tuyenID&month=@month&year=@year&nhanvienInt=@nhanVienId");
                }

                </text>
            }
            //nếu không có sản lượng bất thường nào
            else
            {
                <text>
                //xác nhận lần 2
                var secondConfirm = "";
                @if (adminVaTruongPhong == 0 ||  adminVaTruongPhong == HoaDonNuocHaDong.Helper.ChucVuHelper.TRUONGPHONG)
            {
                <text>secondConfirm = confirm("Bạn có thực sự muốn chốt số liệu không?");</text>
            }
            else
            {
                <text>secondConfirm = confirm("Nếu xác nhận, chỉ số sẽ không chỉnh sửa được nữa, bạn có chắc chắn muốn chốt số liệu không");</text>
            }
                if (secondConfirm) {
                    this.form.submit();
                }
                </text>
        }
            });
          

            @{
            int tongHop = HoaDonNuocHaDong.Helper.KhachHang.TONGHOP;
            }

            $("tr.@tongHop").css({ "background-color": "#29a286", "color": "black" });

        });

    </script>
}